@page
@model EquipmentManagementSystem.Pages.Equipments.Acceptance.EditModel

@{
    ViewData["Title"] = "编辑";
    var formMethod = "post";

    if (IsArchived())
    {
        formMethod = "get";
    }

    @functions{
        private bool IsArchived()
        {
            return Model.InstrumentAcceptance.IsArchived;
        }

        private void FileManager(string fileName, string filePath, string inputName)
        {
            <br />
            <div class="btn-group dropright">
                <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @{
                        UploadedSign(filePath);
                    }
                    《 @fileName 》
                </button>
                <div class="dropdown-menu">
                    @if (isUploaded(filePath))
                    {
                        ViewLink(filePath);
                        DownloadLink(filePath);
                        <div class="dropdown-divider"></div>
                        UploadLink("重传");
                        FileInput(inputName);
                    }
                    else
                    {
                        UploadLink("上传");
                        FileInput(inputName);
                    }
                </div>
            </div>
        }

        private bool isUploaded(string filePath)
        {
            return !string.IsNullOrEmpty(filePath);
        }

        private void UploadedSign(string filePath)
        {
            if (isUploaded(filePath))
            {
                <i class="fas fa-check text-green"></i>
            }
        }

        private void ViewLink(string filePath)
        {
            <a class="dropdown-item" target="_blank" href="@RemoveWWWRoot(filePath)">查看</a>
        }

        private string RemoveWWWRoot(string filePath)
        {
            // 为了实现在线预览需要把路径中的wwwroot去掉
            return filePath?.Replace("wwwroot", "");
        }

        private void DownloadLink(string filePath)
        {
            var fileName = EquipmentManagementSystem.Utilities.FileHelpers.RemoveGuidStringInFileName(filePath);
            <a class="dropdown-item" target="_blank" href="@RemoveWWWRoot(filePath)" download="@fileName">下载</a>
            @*<a class="dropdown-item" href="/Equipments/Acceptance/Edit?filePath=@filePath&handler=Download" id="download">下载</a>*@
        }

        private void UploadLink(string text)
        {
            var disabled = "";
            if (IsArchived())
            {
                disabled = "disabled";
            }
            <a id="upload" class="dropdown-item @disabled" href="#">@text</a>
        }

        private void FileInput(string name)
        {
            <input type="file" name="@name" class="form-control-file" hidden />
        }
    }
}

<div class="card">
    <div class="card-header">
        <h4>设备验收信息</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item border-0">
                        <label asp-for="InstrumentAcceptance.Creator"></label>：
                        @Html.DisplayFor(model => Model.InstrumentAcceptance.Creator)
                    </li>
                    <li class="list-group-item border-0">
                        <label asp-for="InstrumentAcceptance.CreatedTime"></label>：
                        @Html.DisplayFor(model => Model.InstrumentAcceptance.CreatedTime)
                    </li>
                    <li class="list-group-item border-0">
                        <label asp-for="InstrumentAcceptance.IsArchived"></label>：
                        @(Model.InstrumentAcceptance.IsArchived ? "是" : "否")
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="@formMethod" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="InstrumentAcceptance.Id" />
                    <div class="card-deck">
                        <div class="card card-outline card-red">
                            <div class="card-header h4 text-center">
                                设备请购
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="control-label">设备请购可行性分析</label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.FeasibilityReportFilePath),
                                            Model.InstrumentAcceptance.FeasibilityReportFilePath, "FileUpload.FeasibilityReportFile");
                                    }
                                    <span asp-validation-for="FileUpload.FeasibilityReportFile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">设备配置确认</label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.ConfigurationListFilePath),
                                            Model.InstrumentAcceptance.ConfigurationListFilePath, "FileUpload.ConfigurationListFile");
                                    }
                                    <span asp-validation-for="FileUpload.ConfigurationListFile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">设备采购</label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.PuchaseRequisitionFilePath),
                                            Model.InstrumentAcceptance.PuchaseRequisitionFilePath, "FileUpload.PuchaseRequisitionFile");
                                    }
                                    <span asp-validation-for="FileUpload.PuchaseRequisitionFile" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="InstrumentAcceptance.IsDemo" />
                                        @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsDemo)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card card-outline card-yellow">
                            <div class="card-header h4 text-center">
                                安装准备
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label asp-for="InstrumentAcceptance.InstrumentID" class="col-12 col-xl-5 col-form-label"></label>
                                    <div class="col-12 col-xl-7">
                                        <input asp-for="InstrumentAcceptance.InstrumentID" class="form-control" />
                                    </div>
                                    <span asp-validation-for="InstrumentAcceptance.InstrumentID" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">安装条件确认</label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.InstallationNoteFilePath),
                                            Model.InstrumentAcceptance.InstallationNoteFilePath, "FileUpload.InstallationNoteFile");
                                    }
                                    <span asp-validation-for="FileUpload.InstallationNoteFile" class="text-danger"></span>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="InstrumentAcceptance.EstimatedArrivalDate" class="col-12 col-xl-5 col-form-label"></label>
                                    <div class="col-12 col-xl-7">
                                        <input asp-for="InstrumentAcceptance.EstimatedArrivalDate" class="form-control" />
                                    </div>
                                    <span asp-validation-for="InstrumentAcceptance.EstimatedArrivalDate" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="form-group row">
                                    <label asp-for="InstrumentAcceptance.ArrivalDate" class="col-12 col-xl-5 col-form-label"></label>
                                    <div class="col-12 col-xl-7">
                                        <input asp-for="InstrumentAcceptance.ArrivalDate" class="form-control" />
                                    </div>
                                    <span asp-validation-for="InstrumentAcceptance.ArrivalDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>设备清点</label>
                                    <label>
                                        <input class="form-group ml-4 mb-0" type="radio" asp-for="InstrumentAcceptance.IsInventoryComplete" value="true" /> 齐全
                                    </label>
                                    <label>
                                        <input class="form-group ml-2 mb-0" type="radio" asp-for="InstrumentAcceptance.IsInventoryComplete" value="false" /> 不全
                                    </label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.InventoryCertificateFilePath),
                                            Model.InstrumentAcceptance.InventoryCertificateFilePath, "FileUpload.InventoryCertificateFile");
                                    }
                                    <span asp-validation-for="FileUpload.InventoryCertificateFile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InstrumentAcceptance.InventoryRemark" class="control-label"></label>
                                    <textarea asp-for="InstrumentAcceptance.InventoryRemark" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="InstrumentAcceptance.InventoryRemark" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card card-outline card-blue">
                            <div class="card-header h4 text-center">
                                安装验收
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label asp-for="InstrumentAcceptance.InstallationDate" class="col-12 col-xl-5 col-form-label"></label>
                                    <div class="col-12 col-xl-7">
                                        <input asp-for="InstrumentAcceptance.InstallationDate" class="form-control" />
                                    </div>
                                    <span asp-validation-for="InstrumentAcceptance.InstallationDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InstrumentAcceptance.InstallationRemark" class="control-label"></label>
                                    <textarea asp-for="InstrumentAcceptance.InstallationRemark" class="form-control"></textarea>
                                    <span asp-validation-for="InstrumentAcceptance.InstallationRemark" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="control-label">设备验收和调试</label>
                                    <label class="form-check-label ml-4 pl-2">
                                        <input class="form-group" asp-for="InstrumentAcceptance.IsFactoryAcceptance" />
                                        @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsFactoryAcceptance)
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="InstrumentAcceptance.FactoryAcceptanceDate" class="col-12 col-xl-5 col-form-label"></label>
                                    <div class="col-12 col-xl-7">
                                        <input asp-for="InstrumentAcceptance.FactoryAcceptanceDate" class="form-control" />
                                    </div>
                                    <span asp-validation-for="InstrumentAcceptance.FactoryAcceptanceDate" class="text-danger"></span>
                                    <br />
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.FactoryAcceptanceReportFilePath),
                                            Model.InstrumentAcceptance.FactoryAcceptanceReportFilePath, "FileUpload.FactoryAcceptanceReportFile");
                                    }
                                    <span asp-validation-for="FileUpload.FactoryAcceptanceReportFile" class="text-danger"></span>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.ServiceReportFilePath),
                                            Model.InstrumentAcceptance.ServiceReportFilePath, "FileUpload.ServiceReportFile");
                                    }
                                    <span asp-validation-for="FileUpload.ServiceReportFile" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InstrumentAcceptance.FactoryAcceptanceRemark" class="control-label"></label>
                                    <textarea asp-for="InstrumentAcceptance.FactoryAcceptanceRemark" class="form-control"></textarea>
                                    <span asp-validation-for="InstrumentAcceptance.FactoryAcceptanceRemark" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="form-group">
                                    <label class="text-bold my-0">
                                        <input class="form-group" asp-for="InstrumentAcceptance.IsTrainingUseAndMaintenance" />
                                        @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsTrainingUseAndMaintenance)
                                    </label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.TrainingSignInFormFilePath),
                                            Model.InstrumentAcceptance.TrainingSignInFormFilePath, "FileUpload.TrainingSignInFormFile");
                                    }
                                    <span asp-validation-for="FileUpload.TrainingSignInFormFile" class="text-danger"></span>
                                </div>
                                <hr />
                                <div class="form-group mb-0">
                                    <label>方法搭建</label>
                                    <label class="form-check-label">
                                        <input class="form-group ml-4" asp-for="InstrumentAcceptance.IsSelfBuilt" /> @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsSelfBuilt)
                                    </label>
                                    <label class="form-check-label">
                                        <input class="form-group ml-2" asp-for="InstrumentAcceptance.IsEngineerAssistance" /> @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsEngineerAssistance)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InstrumentAcceptance.MethodConstructionRemark" class="control-label"></label>
                                    <textarea asp-for="InstrumentAcceptance.MethodConstructionRemark" class="form-control"></textarea>
                                    <span asp-validation-for="InstrumentAcceptance.MethodConstructionRemark" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-0">
                                    <label>
                                        <input class="form-group" asp-for="InstrumentAcceptance.IsAcceptance" />
                                        @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsAcceptance)
                                    </label>
                                </div>
                                <div class="form-group row">
                                    <label asp-for="InstrumentAcceptance.ItemAcceptanceDate" class="col-12 col-xl-5 col-form-label"></label>
                                    <div class="col-12 col-xl-7">
                                        <input asp-for="InstrumentAcceptance.ItemAcceptanceDate" class="form-control" />
                                    </div>
                                    <span asp-validation-for="InstrumentAcceptance.ItemAcceptanceDate" class="text-danger"></span>

                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.EvaluationReportFilePath),
                                            Model.InstrumentAcceptance.EvaluationReportFilePath, "FileUpload.EvaluationReportFile");
                                    }
                                    <span asp-validation-for="FileUpload.EvaluationReportFile" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card card-outline card-green">
                            <div class="card-header h4 text-center">
                                档案整理
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="control-label">常规档案</label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.EquipmentFilesListFilePath),
                                            Model.InstrumentAcceptance.EquipmentFilesListFilePath, "FileUpload.EquipmentFilesListFile");
                                    }
                                    <span asp-validation-for="FileUpload.EquipmentFilesListFile" class="text-danger"></span>

                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.EquipmentResumeFilePath),
                                            Model.InstrumentAcceptance.EquipmentResumeFilePath, "FileUpload.EquipmentResumeFile");
                                    }
                                    <span asp-validation-for="FileUpload.EquipmentResumeFile" class="text-danger"></span>

                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.EquipmentCalibrationReportFilePath),
                                            Model.InstrumentAcceptance.EquipmentCalibrationReportFilePath, "FileUpload.EquipmentCalibrationReportFile");
                                    }
                                    <span asp-validation-for="FileUpload.EquipmentCalibrationReportFile" class="text-danger"></span>

                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.EquipmentAcceptanceReportFilePath),
                                            Model.InstrumentAcceptance.EquipmentAcceptanceReportFilePath, "FileUpload.EquipmentAcceptanceReportFile");
                                    }
                                    <span asp-validation-for="FileUpload.EquipmentAcceptanceReportFile" class="text-danger"></span>

                                </div>

                                <div class="form-group">
                                    <label class="control-label">其他档案</label>
                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.EquipmentCertificateFilePath),
                                            Model.InstrumentAcceptance.EquipmentCertificateFilePath, "FileUpload.EquipmentCertificateFile");
                                    }
                                    <span asp-validation-for="FileUpload.EquipmentCertificateFile" class="text-danger"></span>

                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFilePath),
                                            Model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFilePath, "FileUpload.MedicalDeviceRegistrationCertificateFile");
                                    }
                                    <span asp-validation-for="FileUpload.MedicalDeviceRegistrationCertificateFile" class="text-danger"></span>

                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.FactoryProductionLicenseFilePath),
                                            Model.InstrumentAcceptance.FactoryProductionLicenseFilePath, "FileUpload.FactoryProductionLicenseFile");
                                    }
                                    <span asp-validation-for="FileUpload.FactoryProductionLicenseFile" class="text-danger"></span>

                                    @{
                                        FileManager(@Html.DisplayNameFor(model => Model.InstrumentAcceptance.BusinessLicenseFilePath),
                                            Model.InstrumentAcceptance.BusinessLicenseFilePath, "FileUpload.BusinessLicenseFile");
                                    }
                                    <span asp-validation-for="FileUpload.BusinessLicenseFile" class="text-danger"></span>
                                </div>

                                <div class="form-group row">
                                    <label asp-for="InstrumentAcceptance.EquipmentAcceptanceDate" class="col-12 col-xl-5 col-form-label"></label>
                                    <div class="col-12 col-xl-7">
                                        <input asp-for="InstrumentAcceptance.EquipmentAcceptanceDate" class="form-control" />
                                    </div>
                                    <span asp-validation-for="InstrumentAcceptance.EquipmentAcceptanceDate" class="text-danger"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <a asp-page="./Index" class="btn btn-default" style="margin-right:10px;">
                                返回
                            </a>
                            @if (!IsArchived())
                            {
                                <input type="submit" value="保存" class="btn btn-primary" style="margin-right:10px;" />

                                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#modal-archive">
                                    归档
                                </button>
                                <div class="modal fade" id="modal-archive">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">提示</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>归档后无法进行编辑，请确认是否归档？</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button id="archiveBtn" type="button" class="btn btn-primary">确认</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @Html.AntiForgeryToken()
                            <button type="button" class="btn btn-outline-danger float-right" data-toggle="modal" data-target="#modal-delete">
                                删除
                            </button>
                            <div class="modal fade" id="modal-delete">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">警告</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>确认删除该记录？</p>
                                        </div>
                                        <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                            <button id="deleteBtn" type="button" class="btn btn-danger">确认</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            if ("@IsArchived()" == "True") {
                // 已归档
                $("input").attr("readonly", "");
                $("input").attr("disabled", "");
                $("textarea").attr("readonly", "");
            }
            else {
                $('a#upload').click(function () {
                    $(this).siblings('input.form-control-file').click();
                });

                // 选择文件后自动上传
                $('input.form-control-file').change(function () {
                    $('form').submit();
                });
            };

            $("#deleteBtn").click(function () {
                 var options = {};
                 options.url = "./Delete?id=@Model.InstrumentAcceptance.Id&handler=Delete";
                 options.type = "POST";

                 options.beforeSend = function (xhr) {
                     xhr.setRequestHeader("MY-XSRF-TOKEN",
                         $('input:hidden[name="__RequestVerificationToken"]').val());
                 };
                 options.success = function (msg) {
                    alert(msg);
                 };
                 options.error = function (msg) {
                     alert(msg);
                 };
                 options.complete = function () {
                     location = "Index";
                 };
                 $.ajax(options);
            });

            $("#archiveBtn").click(function () {
                 var options = {};
                 options.url = "./Edit?id=@Model.InstrumentAcceptance.Id&handler=Archive";
                 options.type = "POST";

                 options.beforeSend = function (xhr) {
                     xhr.setRequestHeader("MY-XSRF-TOKEN",
                         $('input:hidden[name="__RequestVerificationToken"]').val());
                 };
                 options.success = function (msg) {
                    alert(msg);
                 };
                 options.error = function (msg) {
                     alert(msg);
                 };
                 options.complete = function () {
                     location = "Index";
                 };
                 $.ajax(options);
            });

        });
    </script>
}
