@page
@model EquipmentManagementSystem.Pages.Calibrations.DeleteModel

@{
    ViewData["Title"] = "删除";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibration.InstrumentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibration.Instrument.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibration.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibration.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibration.Result)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibration.Result)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibration.Unit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibration.Unit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Calibration.Calibrator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Calibration.Calibrator)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Calibration.ID" />
        <input type="submit" value="删除" class="btn btn-danger" /> |
        <a asp-page="../Instruments/Details" asp-route-id="@Model.Calibration.InstrumentID">返回</a>
    </form>
</div>
