@page
@model EquipmentManagementSystem.Pages.Equipments.Acceptance.DetailsModel

@{
    ViewData["Title"] = "详细信息";
}

@*<h1>Details</h1>

    <div>
        <h4>InstrumentAcceptance</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.Creator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.Creator)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.CreatedTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.CreatedTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.FeasibilityReportFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.FeasibilityReportFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.FeasibilityReportFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.FeasibilityReportFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.ConfigurationListFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.ConfigurationListFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.ConfigurationListFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.ConfigurationListFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.PuchaseRequisitionFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.PuchaseRequisitionFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.PuchaseRequisitionFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.PuchaseRequisitionFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsDemo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.IsDemo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstrumentID)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InstrumentID)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstallationNoteFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InstallationNoteFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstallationNoteFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InstallationNoteFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EstimatedArrivalDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EstimatedArrivalDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.ArrivalDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.ArrivalDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsInventoryComplete)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.IsInventoryComplete)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InventoryCertificateFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InventoryCertificateFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InventoryCertificateFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InventoryCertificateFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InventoryRemark)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InventoryRemark)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstallationDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InstallationDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstallationRemark)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.InstallationRemark)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsFactoryAcceptance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.IsFactoryAcceptance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryAcceptanceDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.FactoryAcceptanceDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryAcceptanceCertificateFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.FactoryAcceptanceCertificateFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryAcceptanceCertificateFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.FactoryAcceptanceCertificateFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.ServiceReportFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.ServiceReportFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.ServiceReportFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.ServiceReportFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsTrainingUseAndMaintenance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.IsTrainingUseAndMaintenance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.TrainingSignInFormFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.TrainingSignInFormFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.TrainingSignInFormFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.TrainingSignInFormFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsSelfBuilt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.IsSelfBuilt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsEngineerAssistance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.IsEngineerAssistance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.MethodConstructionRemark)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.MethodConstructionRemark)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsAcceptance)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.IsAcceptance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EvaluationReportFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EvaluationReportFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EvaluationReportFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EvaluationReportFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentResumeFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentResumeFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentResumeFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentResumeFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentFilesListFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentFilesListFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentFilesListFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentFilesListFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentCertificateFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentCertificateFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentCertificateFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentCertificateFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryProductionLicenseFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.FactoryProductionLicenseFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryProductionLicenseFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.FactoryProductionLicenseFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.BusinessLicenseFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.BusinessLicenseFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.BusinessLicenseFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.BusinessLicenseFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentCalibrationReportFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentCalibrationReportFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentCalibrationReportFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentCalibrationReportFilePath)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentAcceptanceReportFileName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentAcceptanceReportFileName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentAcceptanceReportFilePath)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.InstrumentAcceptance.EquipmentAcceptanceReportFilePath)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.InstrumentAcceptance.Id">Edit</a> |
        <a asp-page="./Index">Back to List</a>
    </div>*@


<div class="card">
    <div class="card-header">
        <h4>设备验收信息</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <ul class="list-group list-group-horizontal-lg">
                    <li class="list-group-item border-0">
                        <label asp-for="InstrumentAcceptance.Creator"></label>：
                        @Html.DisplayFor(model => Model.InstrumentAcceptance.Creator)
                    </li>
                    <li class="list-group-item border-0">
                        <label asp-for="InstrumentAcceptance.CreatedTime"></label>：
                        @Html.DisplayFor(model => Model.InstrumentAcceptance.CreatedTime)
                    </li>
                    <li class="list-group-item border-0">
                        <label asp-for="InstrumentAcceptance.IsArchived"></label>：
                        @(Model.InstrumentAcceptance.IsArchived ? "是" : "否")
                    </li>
                </ul>
            </div>
        </div>

        @functions{
            private string RemoveWWWRoot(string filePath)
            {
                // 为了实现在线预览需要把路径中的wwwroot去掉
                return filePath?.Replace("wwwroot", "");
            }

            private void ViewLink(string filePath)
            {
                <a target="_blank" href="@RemoveWWWRoot(filePath)">查看</a>
            }

            private void DownloadLink(string filePath)
            {
                <a href="/Equipments/Acceptance/Edit?filePath=@filePath&handler=Download">下载</a>
            }

            private void FileManager(string filePath)
            {
                if (!string.IsNullOrEmpty(filePath))
                {
                    // 文件名 查看 下载
                    @EquipmentManagementSystem.Utilities.FileHelpers.RemoveGuidStringInFileName(filePath);
                    ViewLink(filePath);
                    DownloadLink(filePath);
                }
            }
        }

        <div class="row">
            <div class="col-12">
                <div class="card-deck">
                    <div class="card card-outline card-blue">
                        <div class="card-header">
                            设备请购
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.FeasibilityReportFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.FeasibilityReportFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.ConfigurationListFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.ConfigurationListFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.PuchaseRequisitionFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.PuchaseRequisitionFilePath);
                                    }
                                </dd>
                                <dt class="col-12 col-lg-4">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsDemo)
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.IsDemo)
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="card card-outline card-blue">
                        <div class="card-header">
                            安装准备
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-12 col-lg-4">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstrumentID)
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.InstrumentID)
                                </dd>
                                <dt class="col-12 col-lg-4">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstallationNoteFilePath)
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.InstallationNoteFilePath);
                                    }
                                </dd>
                                <dt class="col-12 col-lg-4">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.EstimatedArrivalDate)
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.EstimatedArrivalDate)
                                </dd>
                                <dt class="col-12 col-lg-4">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.ArrivalDate)
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.ArrivalDate)
                                </dd>
                                <dt class="col-12 col-lg-4">
                                    设备清点
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @(Model.InstrumentAcceptance.IsInventoryComplete ? "齐全" :"不全")
                                </dd>
                                <dt class="col-12 col-lg-4">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.InventoryCertificateFilePath)
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.InventoryCertificateFilePath);
                                    }
                                </dd>
                                <dt class="col-12 col-lg-4">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.InventoryRemark)
                                </dt>
                                <dd class="col-12 col-lg-8">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.InventoryRemark)
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="card card-outline card-blue">
                        <div class="card-header">
                            安装验收
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstallationDate)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.InstallationDate)
                                </dd>
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.InstallationRemark)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.InstallationRemark)
                                </dd>
                            </dl>
                            <hr />
                            <dl class="row">
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsFactoryAcceptance)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.IsFactoryAcceptance)
                                </dd>
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryAcceptanceDate)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.FactoryAcceptanceDate)
                                </dd>

                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryAcceptanceReportFilePath)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.FactoryAcceptanceReportFilePath);
                                    }
                                </dd>
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.ServiceReportFilePath)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.ServiceReportFilePath);
                                    }
                                </dd>
                            </dl>
                            <hr />
                            <dl class="row">
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsTrainingUseAndMaintenance)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.IsTrainingUseAndMaintenance)
                                </dd>

                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.TrainingSignInFormFilePath)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.TrainingSignInFormFilePath);
                                    }
                                </dd>
                            </dl>
                            <hr />
                            <dl class="row">
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsSelfBuilt)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.IsSelfBuilt)
                                </dd>
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsEngineerAssistance)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.IsEngineerAssistance)
                                </dd>
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.MethodConstructionRemark)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.MethodConstructionRemark)
                                </dd>
                            </dl>
                            <hr />
                            <dl class="row">
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.IsAcceptance)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.IsAcceptance)
                                </dd>
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.ItemAcceptanceDate)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @Html.DisplayFor(model => model.InstrumentAcceptance.ItemAcceptanceDate)
                                </dd>
                                <dt class="col-12 col-lg-5">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.EvaluationReportFilePath)
                                </dt>
                                <dd class="col-12 col-lg-7">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.EvaluationReportFilePath);
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>

                    <div class="card card-outline card-blue">
                        <div class="card-header">
                            档案整理
                        </div>
                        <div class="card-body">
                            <dl class="row">
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentResumeFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.EquipmentResumeFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentFilesListFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.EquipmentFilesListFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentCertificateFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.EquipmentCertificateFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.FactoryProductionLicenseFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.FactoryProductionLicenseFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.BusinessLicenseFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.BusinessLicenseFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.MedicalDeviceRegistrationCertificateFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentCalibrationReportFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.EquipmentCalibrationReportFilePath);
                                    }
                                </dd>
                                <dt class="col-12">
                                    @Html.DisplayNameFor(model => model.InstrumentAcceptance.EquipmentAcceptanceReportFilePath)
                                </dt>
                                <dd class="col-12">
                                    @{
                                        FileManager(Model.InstrumentAcceptance.EquipmentAcceptanceReportFilePath);
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <a asp-page="./Index"><input type="button" class="btn btn-default" value="返回" style="margin-right:10px;" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
