@page
@model EquipmentManagementSystem.Pages.Management.MalfunctionSolutions.IndexModel

@{
    ViewData["Title"] = "后台管理";
}

<div class="card col-md-6">
    <h4 class="card-header">
        解决措施
        <a asp-page="Create">
            <input type="button" class="btn btn-outline-primary btn-sm" value="新建" style="margin-left: 10px;" />
        </a>
    </h4>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionSolution[0].Solution)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MalfunctionSolution)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Solution)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">编辑</a> |
                            @*<a asp-page="./Details" asp-route-id="@item.ID">Details</a> |*@
                            <a asp-page="./Delete" asp-route-id="@item.ID">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
