@page
@model EquipmentManagementSystem.Pages.MalfunctionWorkOrders.IndexModel

@{
    ViewData["Title"] = "故障跟进";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">工单列表 <a asp-page="Create">（新建）</a> </h3>
    </div>

    <div class="card-body">
        <div id="index_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
                <div class="col-sm-12 col-md-6"></div>
                <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="index" class="table table-hover dataTable dtr-inline">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].MalfunctionInfo.InstrumentID)
                                </th>
                                <th>
                                    故障描述
                                </th>
                                <th>
                                    开始时间
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].CreatedTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].Progress)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].Creator)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MalfunctionWorkOrder)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MalfunctionInfo.InstrumentID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MalfunctionInfo.Part)@Html.DisplayFor(modelItem => item.MalfunctionInfo.Phenomenon)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MalfunctionInfo.FoundedTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Progress)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Creator)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.ID">编辑</a> |
                                        <a asp-page="./Details" asp-route-id="@item.ID">查看</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.ID">删除</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script>
        $(function () {
            $('#index').DataTable({
                paging: true,
                lengthChange: true,
                searching: true,
                ordering: true,
                orderMulti: true,
                info: true,
                autoWidth: false,
                responsive: true,
                processing: true,
                stateSave: true,
                deferRender: true,
                language: {
                    "emptyTable": "没有数据", //没有数据时要显示的字符串
                    "info": "当前 _START_ 条到 _END_ 条 共 _TOTAL_ 条",//左下角的信息，变量可以自定义，到官网详细查看
                    "infoEmpty": "无记录",//当没有数据时，左下角的信息
                    "infoFiltered": "(从 _MAX_ 条记录过滤)",//当表格过滤的时候，将此字符串附加到主要信息
                    "infoPostFix": "",//在摘要信息后继续追加的字符串
                    "thousands": ",",//千分位分隔符
                    "lengthMenu": "每页 _MENU_ 条记录",//用来描述分页长度选项的字符串
                    "loadingRecords": "加载中...",//用来描述数据在加载中等待的提示字符串 - 当异步读取数据的时候显示
                    "processing": "处理中...",//用来描述加载进度的字符串
                    "search": "搜索：",//用来描述搜索输入框的字符串
                    "zeroRecords": "没有找到",//当没有搜索到结果时，显示
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "尾页"
                    }
                },
            });
        })
    </script>
}
