@page
@model EquipmentManagementSystem.Pages.Management.Projects.EditModel

@{
    ViewData["Title"] = "编辑";
}

<div class="card">
    <div class="card-header">
        检测项目
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Project.Id" />
                    <div class="form-group">
                        <label asp-for="Project.GroupName" class="control-label"></label>
                        <select asp-for="Project.GroupName" class="custom-select" asp-items="@Model.GroupSelectList">
                        </select>
                        <span asp-validation-for="Project.GroupName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.Name" class="control-label"></label>
                        <input asp-for="Project.Name" class="form-control" />
                        <span asp-validation-for="Project.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.ShortName" class="control-label"></label>
                        <input asp-for="Project.ShortName" class="form-control" />
                        <span asp-validation-for="Project.ShortName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.SimpleTestTime" class="control-label"></label>
                        <input asp-for="Project.SimpleTestTime" step="1" class="form-control" />
                        <span asp-validation-for="Project.SimpleTestTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.ColumnType" class="control-label"></label>
                        @foreach (var columntype in Model.ColumnTypes)
                        {
                            <div>
                                <input name="ColumnTypes" value="@columntype" class="" required />
                                <button class="remove-input" type="button">X</button>
                            </div>
                        }
                        <button type="button" id="add-ColumnType">新增</button>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.MobilePhase" class="control-label"></label>
                        @foreach (var mobilePhase in Model.MobilePhases)
                        {
                            <div>
                                <input name="MobilePhases" value="@mobilePhase" class="" required />
                                <button class="remove-input" type="button">X</button>
                            </div>
                        }
                        <button type="button" id="add-MobilePhase">新增</button>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.IonSource" class="control-label"></label>
                        @foreach (var ionSource in Model.IonSources)
                        {
                            <div>
                                <input name="IonSources" value="@ionSource" class="" required />
                                <button class="remove-input" type="button">X</button>
                            </div>
                        }
                        <button type="button" id="add-IonSource">新增</button>
                    </div>
                    <div class="form-group">
                        <label asp-for="Project.Detector" class="control-label"></label>
                        @foreach (var detector in Model.Detectors)
                        {
                            <div>
                                <input name="Detectors" value="@detector" class="" required />
                                <button class="remove-input" type="button">X</button>
                            </div>
                        }
                        <button type="button" id="add-Detector">新增</button>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="保存" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-page="./Index">返回</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/Project.js" asp-append-version="true"></script>
}
