@page
@model EquipmentManagementSystem.Pages.Management.MalfunctionParts.IndexModel

@{
    ViewData["Title"] = "后台管理";
}


<div class="card col-md-4">
    <h4 class="card-header">
        故障部位
        <a asp-page="Create">
            <input type="button" class="btn btn-outline-primary btn-sm" value="新建" style="margin-left: 10px;" />
        </a>
    </h4>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionPart[0].Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MalfunctionPart)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.ID">编辑</a> |
                            <a asp-page="./Details" asp-route-id="@item.ID">查看</a> |
                            <a asp-page="./Delete" asp-route-id="@item.ID">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>