@page
@model EquipmentManagementSystem.Pages.Malfunctions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Malfunction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.Instrument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.Instrument.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.BeginTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.BeginTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.FoundedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.FoundedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.ReportTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.ReportTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.FollowUpPeople)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.FollowUpPeople)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.PlaceOrderTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.PlaceOrderTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.AccessoriesArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.AccessoriesArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.EngineerArrivalTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.EngineerArrivalTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.Solutions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.Solutions)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Malfunction.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Malfunction.Status)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Malfunction.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
