@page
@model EquipmentManagementSystem.Pages.Malfunctions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Instrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].FieldName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].FoundTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].StartTrackTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].ReportTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].FollowUpPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].DebuggingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].PlaceOrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].AccessoriesArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].EngineerArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Solutions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Malfunction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTrackTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FollowUpPeople)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DebuggingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceOrderTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessoriesArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineerArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solutions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
