@page
@model EquipmentManagementSystem.Pages.Malfunctions.IndexModel

@{
    ViewData["Title"] = "故障";
}

<h3>故障信息</h3>

<p>
    <a asp-page="Create">新建</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].InstrumentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].ComponentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Problem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].FoundTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].ReportTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].FollowUpPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].DebuggingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Malfunction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.InstrumentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Problem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FollowUpPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DebuggingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">编辑</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">详情</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
