@page
@model EquipmentManagementSystem.Pages.Malfunctions.IndexModel

@{
    ViewData["Title"] = "故障列表";
}

<p>
    <a asp-page="Create">新建</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].InstrumentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].FoundedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].ReportTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].FollowUpPeople)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].PlaceOrderTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].AccessoriesArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].EngineerArrivalTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Solutions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Malfunction[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Malfunction)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrument.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoundedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FollowUpPeople)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlaceOrderTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessoriesArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineerArrivalTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Solutions)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
