@page
@model EquipmentManagementSystem.Pages.Malfunctions.WorkOrders.DetailsModel

@{
    ViewData["Title"] = "详细信息";
    // 故障信息是否确认
    var MalfunctionIsComfirm = Model.MalfunctionWorkOrder.MalfunctionInfo != null && Model.MalfunctionWorkOrder.MalfunctionInfo.IsConfirm ? true : false;
    // 维修申请是否确认
    var RepairRequestIsComfirm = Model.MalfunctionWorkOrder.RepairRequest != null && Model.MalfunctionWorkOrder.RepairRequest.IsConfirm ? true : false;
    // 性能验证是否确认
    var ValidationIsComfirm = Model.MalfunctionWorkOrder.Validation != null && Model.MalfunctionWorkOrder.Validation.IsConfirm ? true : false;

    var IsCompleted = MalfunctionIsComfirm && RepairRequestIsComfirm && ValidationIsComfirm;

    // 是否为关键部位故障
    var MaintainIsCritical = Model.MalfunctionWorkOrder.Maintenance != null && Model.MalfunctionWorkOrder.Maintenance.IsCritical ? true : false;
}


<div class="invoice p-3 mb-3">
    <!-- title row -->
    <div class="row">
        <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <h3>
                        @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.InstrumentID)
                        <span class="badge badge-primary">@Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.Progress)</span>
                    </h3>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-unstyled text-right">
                <li>
                    @Html.DisplayNameFor(mdoel => Model.MalfunctionWorkOrder.Creator)：
                    @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.Creator)
                </li>
                <li>
                    @Html.DisplayNameFor(mdoel => Model.MalfunctionWorkOrder.CreatedTime)：
                    @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.CreatedTime)
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> 故障信息

                        @if (MalfunctionIsComfirm)
                        {
                            <span class="badge badge-success" style="margin-left: 5px;">设备负责人已确认</span>
                        }
                        else
                        {
                            <span class="badge badge-warning" style="margin-left: 5px;">设备负责人未确认</span>
                        }
                    </h3>
                    <div class="card-tools">
                        <a asp-page="../Information/Edit" asp-route-id="@Model.MalfunctionWorkOrder.MalfunctionInfo.ID">
                            <input type="button" class="btn btn-outline-primary btn-xs" value="编辑">
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.BeginTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.BeginTime)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FoundedTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FoundedTime)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Attachment)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Attachment)
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        @if (MalfunctionIsComfirm)
        {
            // 若故障信息未确认则不显示故障排查模块
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-search" aria-hidden="true"></i> 故障排查
                            @if (RepairRequestIsComfirm)
                            {
                                <span class="badge badge-success" style="margin-left: 5px;">设备主任已确认</span>
                            }
                            else
                            {
                                <span class="badge badge-warning" style="margin-left: 5px;">设备主任未确认</span>
                            }
                        </h3>
                        @*<div class="card-tools">
                                <a asp-page="../Investigate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                                    <input type="button" class="btn btn-outline-primary btn-sm" value="编辑">
                                </a>
                            </div>*@
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.BeginTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.BeginTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.EndTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.EndTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Operator)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Operator)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Measures)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Measures)
                                    </dd>
                                </dl>
                                <div class="card-tools">
                                    <a asp-page="../Investigate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Investigation.ID">
                                        <input type="button" class="btn btn-outline-primary btn-xs" value="编辑">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)
                                    </dd>
                                </dl>
                                <div class="card-tools">
                                    <a asp-page="../RepairRequests/Edit" asp-route-id="@Model.MalfunctionWorkOrder.RepairRequest.ID">
                                        <input type="button" class="btn btn-outline-primary btn-xs" value="编辑">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)
                                    </dd>
                                </dl>
                                <div class="card-tools">
                                    <a asp-page="../AccessoriesOrders/Edit" asp-route-id="@Model.MalfunctionWorkOrder.AccessoriesOrder.ID">
                                        <input type="button" class="btn btn-outline-primary btn-xs" value="编辑">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        }
    </div>
    <div class="row">
        @if (RepairRequestIsComfirm)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-wrench" aria-hidden="true"></i> 故障维修
                        </h3>
                        <div class="card-tools">
                            <a asp-page="../Maintain/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Maintenance.ID">
                                <input type="button" class="btn btn-outline-primary btn-xs" value="编辑">
                            </a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.IsCritical)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.IsCritical)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Attachment)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Attachment)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        }
        @if (MaintainIsCritical)
        {
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="fa fa-file" aria-hidden="true"></i> 性能验证

                            @if (ValidationIsComfirm)
                            {
                                <span class="badge badge-success" style="margin-left: 5px;">设备主任已确认</span>
                            }
                            else
                            {
                                <span class="badge badge-warning" style="margin-left: 5px;">设备主任未确认</span>
                            }
                        </h3>
                        <div class="card-tools">
                            <a asp-page="../Validate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Validation.ID">
                                <input type="button" class="btn btn-outline-primary btn-xs" value="编辑">
                            </a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.EndTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.EndTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFile)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFile)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.EffectReportFile)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.EffectReportFile)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.Summary)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.Summary)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.Attachment)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.Attachment)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        }
    </div>

    <div class="row no-print">
        <div class="col-md-12">
            <div>
                <a asp-page="./Index">
                    <input type="button" class="btn btn-default" value="返回" style="margin-right: 5px;">
                </a>
                @if (IsCompleted)
                {
                    @*<a asp-page="./Edit" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                            <input type="button" class="btn btn-primary" value="完成">
                        </a>*@
                    <button onclick="javescript:window.print()" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                        <i class="fas fa-download"></i> Generate PDF
                    </button>
                }
            </div>
        </div>
    </div>

</div>
