@page
@inject UserManager<User> UserManager
@model EquipmentManagementSystem.Pages.Malfunctions.WorkOrders.DetailsModel

@{
    ViewData["Title"] = "详细信息";

    // 故障信息是否确认
    var InfomationIsComfirm = Model.MalfunctionWorkOrder.MalfunctionInfo?.IsConfirm ?? false;

    // 维修申请是否确认
    var RepairRequestIsComfirm = Model.MalfunctionWorkOrder.RepairRequest?.IsConfirm ?? false;

    // 是否可内部维修
    var InternalServiceable = Model.MalfunctionWorkOrder.Investigation?.Result == InvestigationResult.Internal;

    // 维修信息是否填写
    var MaintainIsComplete = Model.MalfunctionWorkOrder.Maintenance?.EndTime != null ? true : false;

    // 是否为关键部位故障
    var MaintainIsCritical = Model.MalfunctionWorkOrder.Maintenance?.IsCritical ?? false;

    // 性能验证是否确认
    var ValidationIsComfirm = Model.MalfunctionWorkOrder.Validation?.IsConfirm ?? false;

    // 所有确认环节已确认
    var IsComfirmAll = (InfomationIsComfirm && InternalServiceable && MaintainIsComplete && !MaintainIsCritical) ||
                        (InfomationIsComfirm && RepairRequestIsComfirm && MaintainIsComplete && !MaintainIsCritical) ||
                        (InfomationIsComfirm && RepairRequestIsComfirm && MaintainIsCritical && ValidationIsComfirm);

    // 工单是否完成
    var IsCompleted = Model.MalfunctionWorkOrder.Progress == Models.WorkOrderProgress.Completed;

    // 授权编辑
    var CanEdit = await AuthorizationService.AuthorizeAsync(User, Model.MalfunctionWorkOrder, Operations.Update);

    // 授权确认故障信息
    var CanComfirmInformation = await AuthorizationService.AuthorizeAsync(User, Model.MalfunctionWorkOrder, Operations.Comfirm);

    // 授权批准
    var CanApprove = await AuthorizationService.AuthorizeAsync(User, Model.MalfunctionWorkOrder, Operations.Approve);
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3>
                @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.InstrumentID)
                @*<span class="badge badge-primary">@Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.Progress)</span>*@
            </h3>

        </div>
        <div class="card-tools">
            建单人：@Model.MalfunctionWorkOrder.Creator
            <br>
            建单时间：@Model.MalfunctionWorkOrder.CreatedTime
        </div>
    </div>
    <div class="card-body">
        <div class="col-md-7 offset-md-1">
            <div class="timeline">
                <div class="time-label">
                    <span class="bg-danger">@Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.BeginTime)</span>
                </div>
                <div>
                    <i class="fas fa-star bg-danger"></i>
                    <div class="card timeline-item">
                        <div class="card-body">
                            发生故障
                        </div>
                    </div>
                </div>
                <div class="time-label">
                    <span class="bg-danger">@Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FoundedTime)</span>
                </div>
                <div>
                    <i class="fas fa-bell bg-danger"></i>
                    <div class="card collapsable timeline-item">
                        <div class="card-header">
                            发现故障
                            @if (!InfomationIsComfirm)
                            {
                                <span class="badge badge-warning" style="margin-left: 5px;">待设备负责人确认</span>
                            }
                            else
                            {
                                <span class="badge badge-success" style="margin-left: 5px;">设备负责人已确认</span>
                            }
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FileName)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FileName)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @if (!InfomationIsComfirm && CanEdit.Succeeded)
                            {
                                <a asp-page="../Information/Edit" asp-route-id="@Model.MalfunctionWorkOrder.MalfunctionInfo.ID" class="btn btn-outline-primary">
                                    <i class="fas fa-edit"></i> 编辑
                                </a>
                            }

                            @if (!InfomationIsComfirm && CanComfirmInformation.Succeeded)
                            {
                                // 确认故障信息
                                <div class="float-right">
                                    <input type="button" value="确认" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#modal-ComfirmInformation" />
                                </div>
                                <div class="modal fade" id="modal-ComfirmInformation">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">提示</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>是否确认故障信息？</p>
                                            </div>
                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                                <button id="comfirm-information" type="button" class="btn btn-primary">确认</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div class="time-label">
                    <span class="bg-warning">@Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.BeginTime)</span>
                </div>
                <div>
                    <i class="fas fa-search bg-warning"></i>
                    <div class="card timeline-item card-tabs collapsable">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-justified nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                                        故障排查
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">
                                        维修申请
                                        @if (!InternalServiceable && !RepairRequestIsComfirm)
                                        {
                                            <span class="badge badge-warning" style="margin-left: 5px;">未批准</span>
                                        }
                                        else if (!InternalServiceable && RepairRequestIsComfirm)
                                        {
                                            <span class="badge badge-success" style="margin-left: 5px;">已批准</span>
                                        }
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill" href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">
                                        配件下单
                                    </a>
                                </li>
                                <li class="pt-2 px-3">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus fa-lg"></i>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade active show" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <dl class="row">
                                                <dt class="col-sm-4">
                                                    排查时长
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @(Model.MalfunctionWorkOrder.Investigation.EndTime - Model.MalfunctionWorkOrder.Investigation.BeginTime)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Operator)
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Operator)
                                                </dd>
                                                <dt class="col-sm-4">
                                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Measures)
                                                </dt>
                                                <dd class="col-sm-8">
                                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Measures)
                                                </dd>
                                            </dl>
                                        </div>
                                        <div class="col-md-6">
                                            <h6 class="text-bold">排查结论</h6>
                                            <dl class="row">
                                                <dt class="col-sm-5">
                                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                                </dt>
                                                <dd class="col-sm-7">
                                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                                </dd>
                                                <dt class="col-sm-5">
                                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                                </dt>
                                                <dd class="col-sm-7">
                                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                                </dd>
                                                <dt class="col-sm-5">
                                                    是否需外部维修
                                                </dt>
                                                <dd class="col-sm-7">
                                                    @{
                                                        // 需外部维修
                                                        var Y = Model.MalfunctionWorkOrder.Investigation.Result == 0;
                                                        if (Y)
                                                        {
                                                            <span class="badge badge-primary text-sm">是</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="badge badge-secondary text-sm">否</span>

                                                        }
                                                    }
                                                </dd>
                                            </dl>
                                        </div>
                                    </div>
                                    @if (!IsCompleted && CanEdit.Succeeded)
                                    {
                                        <div class="card-footer">
                                            <a asp-page="../Investigate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Investigation.ID" class="btn btn-outline-primary">
                                                <i class="fas fa-edit"></i> 编辑
                                            </a>
                                        </div>
                                    }
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)
                                        </dd>
                                    </dl>
                                    <div class="card-footer">
                                        @if (!RepairRequestIsComfirm && CanEdit.Succeeded)
                                        {
                                            <a asp-page="../RepairRequests/Edit" asp-route-id="@Model.MalfunctionWorkOrder.RepairRequest.ID" class="btn btn-outline-primary">
                                                <i class="fas fa-edit"></i> 编辑
                                            </a>
                                        }
                                        @if (!RepairRequestIsComfirm && CanApprove.Succeeded)
                                        {
                                            // 批准维修申请
                                            <div class="float-right">
                                                <input type="button" value="批准" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#modal-ComfirmRepairRequest" />
                                            </div>
                                            <div class="modal fade" id="modal-ComfirmRepairRequest">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">提示</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>是否批准维修申请？</p>
                                                        </div>
                                                        <div class="modal-footer justify-content-between">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                                            <button id="comfirm-repairRequest" type="button" class="btn btn-primary">是</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                    <dl class="row">
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)
                                        </dd>
                                        <dt class="col-sm-2">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)
                                        </dt>
                                        <dd class="col-sm-10">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)
                                        </dd>
                                    </dl>
                                    @if (!IsCompleted && CanEdit.Succeeded)
                                    {
                                        <div class="card-footer">
                                            <a asp-page="../AccessoriesOrders/Edit" asp-route-id="@Model.MalfunctionWorkOrder.AccessoriesOrder.ID" class="btn btn-outline-primary">
                                                <i class="fas fa-edit"></i> 编辑
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="time-label">
                    <span class="bg-primary">@Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.BeginTime)</span>
                </div>
                <div>
                    <i class="fas fa-wrench bg-primary"></i>
                    <div class="card collapsable timeline-item">
                        <div class="card-header">
                            维修过程
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus fa-lg"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-4">
                                            维修时长
                                        </dt>
                                        <dd class="col-sm-8">
                                            @(Model.MalfunctionWorkOrder.Maintenance.EndTime - Model.MalfunctionWorkOrder.Maintenance.BeginTime)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.IsCritical)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @{
                                                if (MaintainIsCritical)
                                                {
                                                    <span class="badge badge-primary text-sm">是</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-secondary text-sm">否</span>

                                                }
                                            }
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="row">
                                        @if (!InternalServiceable)
                                        {
                                            <dt class="col-sm-6">
                                                @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.FileName)
                                            </dt>
                                            <dd class="col-sm-6">
                                                <a asp-page="../Maintain/Edit" asp-page-handler="Download" asp-route-id="@Model.MalfunctionWorkOrder.Maintenance.ID">
                                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.FileName)
                                                </a>
                                            </dd>
                                        }
                                        <dt class="col-sm-6">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)
                                        </dt>
                                        <dd class="col-sm-6">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-page="../Maintain/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Maintenance.ID" class="btn btn-outline-primary">
                                <i class="fas fa-edit"></i> 编辑
                            </a>
                        </div>
                    </div>
                </div>
                @if (MaintainIsCritical)
                {
                    <div class="time-label">
                        <span class="bg-info">@Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.FinishedTime)</span>
                    </div>
                    <div>
                        <i class="fas fa-file-alt bg-info"></i>
                        <div class="card collapsable timeline-item">
                            <div class="card-header">
                                性能验证
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFileName)
                                    </dt>
                                    <dd class="col-sm-10">
                                        <a asp-page="../Validate/Edit" asp-page-handler="DownloadPerformanceReportFile" asp-route-id="@Model.MalfunctionWorkOrder.Validation.ID">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFileName)
                                        </a>
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.Summary)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.Summary)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.AttachmentName)
                                    </dt>
                                    <dd class="col-sm-10">
                                        <a asp-page="../Validate/Edit" asp-page-handler="DownloadAttachment" asp-route-id="@Model.MalfunctionWorkOrder.Validation.ID">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.AttachmentName)
                                        </a>
                                    </dd>
                                </dl>
                            </div>
                            <div class="card-footer">
                                @if (!ValidationIsComfirm && CanEdit.Succeeded)
                                {
                                    <a asp-page="../Validate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Validation.ID" class="btn btn-outline-primary">
                                        <i class="fas fa-edit"></i> 编辑
                                    </a>
                                }
                                @if (!ValidationIsComfirm && CanApprove.Succeeded)
                                {
                                    // 确认性能验证
                                    <div class="float-right">
                                        <input type="button" value="批准" class="btn btn-outline-primary btn-block" data-toggle="modal" data-target="#modal-ComfirmValidation" />
                                    </div>
                                    <div class="modal fade" id="modal-ComfirmValidation">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">提示</h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">×</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>是否批准性能验证报告？</p>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                                    <button id="comfirm-validation" type="button" class="btn btn-primary">是</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
                <!-- The last icon means the story is complete -->
                <div>
                    <i class="fas fa-clock bg-success"></i>
                </div>
            </div>
        </div>

        <div class="row no-print">
            <div class="col-md-12">
                <div>
                    @if (IsCompleted)
                    {
                        <a asp-page="./Done">
                            <input type="button" class="btn btn-default" value="返回" style="margin-right: 5px;">
                        </a>
                        <button onclick="javascript:window.print()" type="button" class="btn btn-outline-primary float-right" style="margin-right: 5px;">
                            <i class="fas fa-download"></i> 生成 PDF
                        </button>
                    }
                    else
                    {
                        <a asp-page="./Doing">
                            <input type="button" class="btn btn-default" value="返回" style="margin-right: 5px;">
                        </a>
                    }

                    @if (IsComfirmAll && !IsCompleted && CanEdit.Succeeded)
                    {
                        @Html.AntiForgeryToken();
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-completeWorkOrder">
                            完成
                        </button>
                        <div class="modal fade" id="modal-completeWorkOrder">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">提示</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>确认完成工单？</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button id="complete" type="button" class="btn btn-primary">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (!IsCompleted && CanEdit.Succeeded)
                    {
                        <button type="button" class="btn btn-outline-danger  float-right" data-toggle="modal" data-target="#modal-deleteWorkOrder">
                            删除
                        </button>
                        <form method="post"></form>
                        <div class="modal fade" id="modal-deleteWorkOrder">
                            <div class="modal-dialog modal-sm">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">警告</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>确认删除工单？</p>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        <button id="delete-workOrder" type="button" class="btn btn-danger">确认</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#complete").click(function () {
             var options = {};
             options.url = "/Malfunctions/WorkOrders/Edit?id=@Model.MalfunctionWorkOrder.ID&handler=CompleteWorkOrder";
             options.type = "POST";

             options.beforeSend = function (xhr) {
                 xhr.setRequestHeader("MY-XSRF-TOKEN",
                     $('input:hidden[name="__RequestVerificationToken"]').val());
             };

             options.success = function (msg) {
                 alert(msg);
             };

             options.error = function (msg) {
                 alert(msg);
             };

             options.complete = function () {
                 location.reload();
             };

             $.ajax(options);
        });

        $("#comfirm-information").click(function () {
             var options = {};
             options.url = "/Malfunctions/Information/Edit?id=@Model.MalfunctionWorkOrder.MalfunctionInfo.ID&handler=Comfirm";
             options.type = "POST";

             options.beforeSend = function (xhr) {
                 xhr.setRequestHeader("MY-XSRF-TOKEN",
                     $('input:hidden[name="__RequestVerificationToken"]').val());
             };

            options.success = function (msg) {
                alert(msg);
             };

             options.error = function (msg) {
                 alert(msg);
             };

             options.complete = function () {
                 location.reload();
             };

             $.ajax(options);
        });

        $("#comfirm-repairRequest").click(function () {
             var options = {};
            options.url = "/Malfunctions/RepairRequests/Edit?id=@Model.MalfunctionWorkOrder.RepairRequest.ID&handler=Comfirm";
             options.type = "POST";

             options.beforeSend = function (xhr) {
                 xhr.setRequestHeader("MY-XSRF-TOKEN",
                     $('input:hidden[name="__RequestVerificationToken"]').val());
             };

            options.success = function (msg) {
                alert(msg);
             };

             options.error = function (msg) {
                 alert(msg);
             };

             options.complete = function () {
                 location.reload();
             };

             $.ajax(options);
        });

        $("#comfirm-validation").click(function () {
             var options = {};
             options.url = "/Malfunctions/Validate/Edit?id=@Model.MalfunctionWorkOrder.Validation.ID&handler=Comfirm";
             options.type = "POST";

             options.beforeSend = function (xhr) {
                 xhr.setRequestHeader("MY-XSRF-TOKEN",
                     $('input:hidden[name="__RequestVerificationToken"]').val());
             };

            options.success = function (msg) {
                alert(msg);
             };

             options.error = function (msg) {
                 alert(msg);
             };

             options.complete = function () {
                 location.reload();
             };

             $.ajax(options);
        });

        $("#delete-workOrder").click(function () {
             var options = {};
             options.url = "/Malfunctions/WorkOrders/Delete?id=@Model.MalfunctionWorkOrder.ID&handler=Delete";
             options.type = "POST";

             options.beforeSend = function (xhr) {
                 xhr.setRequestHeader("MY-XSRF-TOKEN",
                     $('input:hidden[name="__RequestVerificationToken"]').val());
             };

            options.success = function (msg) {
                alert(msg);
             };

             options.error = function (msg) {
                 alert(msg);
             };

             options.complete = function () {
                 location = "/Malfunctions/WorkOrders/Doing";
             };

             $.ajax(options);
        });
    </script>
}
