@page
@model EquipmentManagementSystem.Pages.Malfunctions.WorkOrders.DetailsModel

@{
    ViewData["Title"] = "详细信息";

    // 故障信息是否确认
    var InfomationIsComfirm = Model.MalfunctionWorkOrder.MalfunctionInfo?.IsConfirm ?? false;
    // 维修申请是否确认
    var RepairRequestIsComfirm = Model.MalfunctionWorkOrder.RepairRequest?.IsConfirm ?? false;
    // 性能验证是否确认
    var ValidationIsComfirm = Model.MalfunctionWorkOrder.Validation?.IsConfirm ?? false;
    // 维修信息是否填写
    var MaintainIsComplete = Model.MalfunctionWorkOrder.Maintenance?.Repairer != null ? true : false;
    // 是否为关键部位故障
    var MaintainIsCritical = Model.MalfunctionWorkOrder.Maintenance?.IsCritical ?? false;

    var IsComfirmAll = (InfomationIsComfirm && RepairRequestIsComfirm && MaintainIsComplete && !MaintainIsCritical) ||
                        (InfomationIsComfirm && RepairRequestIsComfirm && MaintainIsCritical && ValidationIsComfirm);

    // 工单是否完成
    var IsCompleted = Model.MalfunctionWorkOrder.Progress == Models.WorkOrderProgress.Completed;
}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3>
                @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.InstrumentID)
                <span class="badge badge-primary">@Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.Progress)</span>
            </h3>
        </div>
        <ul class="list-unstyled list-inline float-right">
            <li class="list-inline-item">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control form-control-sm" value="@Model.MalfunctionWorkOrder.Creator" readonly>
                </div>
            </li>
            <li class="list-inline-item">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-clock"></i></span>
                    </div>
                    <input class="form-control form-control-sm" value="@Model.MalfunctionWorkOrder.CreatedTime" readonly>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <p class="card-title">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> 故障信息
                            @if (InfomationIsComfirm)
                            {
                                <span class="badge badge-success" style="margin-left: 5px;">设备负责人已确认</span>
                            }
                            else
                            {
                                <span class="badge badge-warning" style="margin-left: 5px;">设备负责人未确认</span>
                            }
                        </p>
                        @if (!IsCompleted)
                        {
                            <div class="card-tools">
                                <a asp-page="../Information/Edit" asp-route-id="@Model.MalfunctionWorkOrder.MalfunctionInfo.ID">
                                    @*<input type="button" class="btn btn-outline-primary btn-xs" value="编辑">*@
                                    <i class="fas fa-edit fa-lg"></i>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.BeginTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.BeginTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FoundedTime)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FoundedTime)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FileName)
                                    </dt>
                                    <dd class="col-sm-8">
                                        <a asp-page="../Information/Edit" asp-page-handler="Download" asp-route-id="@Model.MalfunctionWorkOrder.MalfunctionInfo.ID">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FileName)
                                        </a>
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-6">
                                <dl class="row">
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                    </dd>
                                    <dt class="col-sm-4">
                                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                    </dt>
                                    <dd class="col-sm-8">
                                        @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (InfomationIsComfirm)
            {
                // 若故障信息未确认则不显示故障排查模块
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <p class="card-title">
                                <i class="fa fa-search" aria-hidden="true"></i> 故障排查
                                @if (RepairRequestIsComfirm)
                                {
                                    <span class="badge badge-success" style="margin-left: 5px;">设备主任已确认</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning" style="margin-left: 5px;">设备主任未确认</span>
                                }
                            </p>
                            @if (!IsCompleted)
                            {
                                <div class="card-tools">
                                    <a id="investigate-a" asp-page="../Investigate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Investigation.ID">
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a id="request-a" asp-page="../RepairRequests/Edit" asp-route-id="@Model.MalfunctionWorkOrder.RepairRequest.ID" hidden>
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                    <a id="order-a" asp-page="../AccessoriesOrders/Edit" asp-route-id="@Model.MalfunctionWorkOrder.AccessoriesOrder.ID" hidden>
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="card-body">
                            @if (!IsCompleted)
                            {
                                <div class="form-group clearfix row">
                                    <div class="icheck-primary d-inline col-md-4">
                                        <input id="investigate" type="radio" name="r1" onclick="showlink()" checked>
                                        <label for="investigate">
                                            故障排查
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline col-md-4">
                                        <input id="request" type="radio" name="r1" onclick="showlink()">
                                        <label for="request">
                                            维修申请
                                        </label>
                                    </div>
                                    <div class="icheck-primary d-inline col-md-4">
                                        <input id="order" type="radio" name="r1" onclick="showlink()">
                                        <label for="order">
                                            配件下单
                                        </label>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.BeginTime)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.BeginTime)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.EndTime)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.EndTime)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Operator)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Operator)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Measures)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Measures)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="row">
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)
                                        </dd>
                                        <dt class="col-sm-5">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)
                                        </dt>
                                        <dd class="col-sm-7">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-4">
                                    <dl class="row">
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)
                                        </dd>
                                    </dl>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            @if (RepairRequestIsComfirm)
            {
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <p class="card-title">
                                <i class="fa fa-wrench" aria-hidden="true"></i> 故障维修
                                @if (MaintainIsCritical)
                                {
                                    <span class="badge badge-success" style="margin-left: 5px;">关键部位</span>
                                }
                            </p>
                            @if (!IsCompleted)
                            {
                                <div class="card-tools">
                                    <a asp-page="../Maintain/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Maintenance.ID">
                                        @*<input type="button" class="btn btn-outline-primary btn-xs" value="编辑">*@
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.EndTime)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.EndTime)
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.FileName)
                                        </dt>
                                        <dd class="col-sm-8">
                                            <a asp-page="../Maintain/Edit" asp-page-handler="Download" asp-route-id="@Model.MalfunctionWorkOrder.Maintenance.ID">
                                                @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.FileName)
                                            </a>
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (MaintainIsCritical)
            {
                <div class="col mb-3">
                    <div class="card h-100">
                        <div class="card-header">
                            <p class="card-title">
                                <i class="fa fa-file-alt" aria-hidden="true"></i> 性能验证
                                @if (ValidationIsComfirm)
                                {
                                    <span class="badge badge-success" style="margin-left: 5px;">设备主任已确认</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning" style="margin-left: 5px;">设备主任未确认</span>
                                }
                            </p>
                            @if (!IsCompleted)
                            {
                                <div class="card-tools">
                                    <a asp-page="../Validate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.Validation.ID">
                                        @*<input type="button" class="btn btn-outline-primary btn-xs" value="编辑">*@
                                        <i class="fas fa-edit fa-lg"></i>
                                    </a>
                                </div>
                            }
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.FinishedTime)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.FinishedTime)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFileName)
                                        </dt>
                                        <dd class="col-sm-8">
                                            <a asp-page="../Validate/Edit" asp-page-handler="DownloadPerformanceReportFile" asp-route-id="@Model.MalfunctionWorkOrder.Validation.ID">
                                                @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFileName)
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-md-6">
                                    <dl class="row">
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.Summary)
                                        </dt>
                                        <dd class="col-sm-8">
                                            @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.Summary)
                                        </dd>
                                        <dt class="col-sm-4">
                                            @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.AttachmentName)
                                        </dt>
                                        <dd class="col-sm-8">
                                            <a asp-page="../Validate/Edit" asp-page-handler="DownloadAttachment" asp-route-id="@Model.MalfunctionWorkOrder.Validation.ID">
                                                @Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.AttachmentName)
                                            </a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row no-print">
            <div class="col-md-12">
                <div>
                    <a asp-page="./Index">
                        <input type="button" class="btn btn-default" value="返回" style="margin-right: 5px;">
                    </a>
                    @*<button onclick="javascript:window.print()" type="button" class="btn btn-outline-primary" style="margin-right: 5px;">
                            <i class="fas fa-download"></i> 生成 PDF
                        </button>*@

                    @if (IsComfirmAll && !IsCompleted)
                    {
                        @Html.AntiForgeryToken();
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-complete">
                            完成
                        </button>
                    }
                    else if (!IsCompleted)
                    {
                        <a asp-page="./Delete" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                            <input type="button" class="btn btn-danger float-right" value="删除" style="margin-right: 5px;">
                        </a>
                    }
                </div>
            </div>
            <div class="modal fade" id="modal-complete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">提示</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>确认完成工单？</p>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button id="complete" type="button" class="btn btn-primary">确认</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function showlink() {
            var investigate_ratio = document.getElementById("investigate");
            var request_ratio = document.getElementById("request");
            var order_ratio = document.getElementById("order");

            var investigate_a = document.getElementById("investigate-a");
            var request_a = document.getElementById("request-a");
            var order_a = document.getElementById("order-a");

            if (investigate_a !== null) {
                if (investigate_ratio.checked) {
                    investigate_a.removeAttribute("hidden");
                }
                else {
                    investigate_a.setAttribute("hidden", "");
                }
            }
            if (request_a !== null) {
                if (request_ratio.checked) {
                    request_a.removeAttribute("hidden");
                }
                else {
                    request_a.setAttribute("hidden", "");
                }
            }

            if (order_a !== null) {
                if (order_ratio.checked) {
                    order_a.removeAttribute("hidden");
                }
                else {
                    order_a.setAttribute("hidden", "");
                }
            }
        };

        $("#complete").click(function () {
             var options = {};
             options.url = "/Malfunctions/WorkOrders/Edit?id=@Model.MalfunctionWorkOrder.ID&handler=CompleteWorkOrder";
             options.type = "PUT";

             options.beforeSend = function (xhr) {
                 xhr.setRequestHeader("MY-XSRF-TOKEN",
                     $('input:hidden[name="__RequestVerificationToken"]').val());
             };

             options.success = function () {
             };

             options.error = function (msg) {
                 alert(msg);
             };

             options.complete = function () {
                 location.reload();
             };

             $.ajax(options);
         });
    </script>
}
