@page
@model EquipmentManagementSystem.Pages.Malfunctions.WorkOrders.DetailsModel

@{
    ViewData["Title"] = "详细信息";
}


<div class="invoice p-3 mb-3">
    <!-- title row -->
    <h3>
        @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.InstrumentID)
    </h3>
    <ul class="list-inline">
        <li class="list-inline-item">
            @Html.DisplayNameFor(mdoel => Model.MalfunctionWorkOrder.Progress)：
            @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.Progress)
        </li>
        <li class="list-inline-item">
            @Html.DisplayNameFor(mdoel => Model.MalfunctionWorkOrder.Creator)：
            @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.Creator)
        </li>
        <li class="list-inline-item">
            @Html.DisplayNameFor(mdoel => Model.MalfunctionWorkOrder.CreatedTime)：
            @Html.DisplayFor(mdoel => Model.MalfunctionWorkOrder.CreatedTime)
        </li>
    </ul>

    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> 故障信息
                        @if (Model.MalfunctionWorkOrder.MalfunctionInfo != null && Model.MalfunctionWorkOrder.MalfunctionInfo.IsConfirm)
                        {
                            <span class="badge badge-success">设备负责人已确认</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">设备负责人未确认</span>
                        }
                    </h3>
                    <div class="card-tools">
                        <a asp-page="../Information/Edit" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                            <input type="button" class="btn btn-outline-primary btn-sm" value="编辑">
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.BeginTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.BeginTime)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FoundedTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.FoundedTime)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Remark)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Attachment)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Attachment)
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Type)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Part)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Phenomenon)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MalfunctionWorkOrder.MalfunctionInfo.Reason)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-search" aria-hidden="true"></i> 故障排查
                        @if (Model.MalfunctionWorkOrder.RepairRequest != null && Model.MalfunctionWorkOrder.RepairRequest.IsConfirm)
                        {
                            <span class="badge badge-success">设备主任已确认</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">设备主任未确认</span>
                        }
                    </h3>
                    <div class="card-tools">
                        <a asp-page="../Investigate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                            <input type="button" class="btn btn-outline-primary btn-sm" value="编辑">
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body row">
                    <table class="table table-sm table-borderless col">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.BeginTime)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.BeginTime)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.EndTime)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.EndTime)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Operator)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Operator)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Investigation.Measures)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Investigation.Measures)</td>
                        </tr>
                    </table>
                    <table class="table table-sm table-borderless col">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.RequestTime)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.BookingsTime)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Fixer)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.RepairRequest.Engineer)</td>
                        </tr>
                    </table>
                    <table class="table table-sm table-borderless col">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Name)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.PlaceTime)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.ArrivalTime)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.AccessoriesOrder.Remark)</td>
                        </tr>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-wrench" aria-hidden="true"></i> 故障维修
                    </h3>
                    <div class="card-tools">
                        <a asp-page="../Maintain/Edit" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                            <input type="button" class="btn btn-outline-primary btn-sm" value="编辑">
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Repairer)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Solution)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Remark)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Maintenance.Attachment)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Maintenance.Attachment)</td>
                        </tr>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa fa-file" aria-hidden="true"></i> 性能验证
                        @if (Model.MalfunctionWorkOrder.Validation != null && Model.MalfunctionWorkOrder.Validation.IsConfirm)
                        {
                            <span class="badge badge-success">设备主任已确认</span>
                        }
                        else
                        {
                            <span class="badge badge-warning">设备主任未确认</span>
                        }
                    </h3>
                    <div class="card-tools">
                        <a asp-page="../Validate/Edit" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                            <input type="button" class="btn btn-outline-primary btn-sm" value="编辑">
                        </a>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-sm table-borderless">
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.EndTime)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.EndTime)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFile)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.PerformanceReportFile)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.EffectReportFile)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.EffectReportFile)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.Summary)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.Summary)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.MalfunctionWorkOrder.Validation.Attachment)</td>
                            <td>@Html.DisplayFor(model => model.MalfunctionWorkOrder.Validation.Attachment)</td>
                        </tr>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>

    <div class="row no-print">
        <div class="col-md-12">
            @*<a href="invoice-print.html" target="_blank" class="btn btn-default float-right"><i class="fas fa-print"></i> 打印</a>*@
            <div>
                <a asp-page="./Edit" asp-route-id="@Model.MalfunctionWorkOrder.ID">
                    <input type="button" class="btn btn-primary" value="编辑">
                </a>

                <a asp-page="./Index">
                    <input type="button" class="btn btn-default" value="返回" style="margin-left: 5px;">
                </a>

                <button onclick="javescript:window.print()" type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                </button>
            </div>
        </div>
    </div>
</div>
