@page
@model EquipmentManagementSystem.Pages.Malfunctions.Maintain.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maintenance[0].Repairer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenance[0].Solution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenance[0].Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maintenance[0].Attachment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Maintenance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Repairer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Solution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
