@page
@model EquipmentManagementSystem.Pages.UsageRecords.DeleteModel

@{
    ViewData["Title"] = "删除";
}

<div class="card">
    <div class="card-header">
        <h3 class="">使用记录</h3>
        <h6 class="text-danger">@Model.ErrorMessage</h6>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.CreatedTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.CreatedTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.InstrumentId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.InstrumentId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.BeginTimeOfMaintain)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.BeginTimeOfMaintain)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.ColumnPressure)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.ColumnPressure)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.BeginTimeOfTest)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.BeginTimeOfTest)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.SampleNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.SampleNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.TestNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.TestNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.EndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.EndTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.Creator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.Creator)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="UsageRecord.Id" />
            <input type="submit" value="删除" class="btn btn-danger" /> |
            <a asp-page="./Index">返回</a>
        </form>
    </div>
</div>