@page
@model EquipmentManagementSystem.Pages.UsageRecords.DetailsModel

@{
    ViewData["Title"] = "详细信息";
}

<div class="card">
    <div class="card-header">
        <h4>使用记录</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.CreatedTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.CreatedTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.InstrumentId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.InstrumentId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.BeginTimeOfMaintain)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.BeginTimeOfMaintain)
            </dd>

            @if (Model.UsageRecord.ColumnNumber != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UsageRecord.ColumnNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsageRecord.ColumnNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UsageRecord.ColumnPressure)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsageRecord.ColumnPressure)@Html.DisplayFor(model => model.UsageRecord.PressureUnit)
                </dd>
            }
            @if (Model.UsageRecord.ColumnTwoNumber != null)
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UsageRecord.ColumnTwoNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsageRecord.ColumnTwoNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.UsageRecord.ColumnTwoPressure)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.UsageRecord.ColumnTwoPressure)@Html.DisplayFor(model => model.UsageRecord.PressureUnit)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.BeginTimeOfTest)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.BeginTimeOfTest)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.SampleNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.SampleNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.TestNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.TestNumber)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.EndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.EndTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.Creator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.Creator)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UsageRecord.Remark)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UsageRecord.Remark)
            </dd>
        </dl>
        <div>
            @if ((await AuthorizationService.AuthorizeAsync(User, Model.UsageRecord, Operations.Update)).Succeeded)
            {
                <a asp-page="./Edit" asp-route-id="@Model.UsageRecord.Id">编辑</a>
                <text> | </text>
            }
            <a asp-page="./Index">返回</a>
        </div>
    </div>
</div>
