@page
@model EquipmentManagementSystem.Pages.UsageRecords.IndexModel

@{
    ViewData["Title"] = "使用登记";
}


<div class="card">
    <h4 class="card-header">
        使用记录
        <a asp-page="Create">
            <input type="button" class="btn btn-outline-primary btn-sm" value="新建记录" style="margin-left: 10px;">
        </a>
    </h4>

    <div class="card-body table-responsive">
        <table id="index" class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].InstrumentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].BeginTimeOfMaintain)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].BeginTimeOfTest)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].SampleNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].TestNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].EndTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UsageRecord[0].Creator)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsageRecord)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeginTimeOfMaintain)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BeginTimeOfTest)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SampleNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TestNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Creator)
                        </td>
                        <td>
                            @*<a asp-page="./Edit" asp-route-id="@item.Id">编辑</a> |*@
                            <a asp-page="./Details" asp-route-id="@item.Id">查看</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
}