@page
@model EquipmentManagementSystem.Pages.DailyUsageRecord.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsageRecord[0].BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageRecord[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageRecord[0].SampleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageRecord[0].TestTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageRecord[0].Instrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsageRecord[0].ProjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UsageRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SampleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TestTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
