@page
@model EquipmentManagementSystem.Pages.Records.IndexModel
@inject SignInManager<User> signInManager
@{
    ViewData["Title"] = "维护使用";
}


<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <div class="card-title">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="maintenance-record-tab" data-toggle="pill" href="#maintenance-record" role="tab" aria-controls="maintenance-record" aria-selected="true">
                        <h4 class="text-dark">维护记录</h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="usage-record-tab" data-toggle="pill" href="#usage-record" role="tab" aria-controls="usage-record" aria-selected="false">
                        <h4 class="text-dark">使用记录</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-tools">
            <form class="form-inline float-left" method="post">
                <label class="my-1 mr-2" for="status" asp-for="@Model.Search.Status">显示</label>
                <select class="custom-select select2 my-1 mr-sm-2" id="status" asp-for="@Model.Search.Status" asp-items="@Html.GetEnumSelectList<EquipmentManagementSystem.Pages.Records.IndexModel.Status>()">
                </select>

                @*<label class="my-1 mr-2 ml-2" for="project" asp-for="@Model.Search.Project"></label>
                    <select class="custom-select select2 my-1 mr-sm-2" id="project" asp-for="@Model.Search.Project" asp-items="@Model.ProjectSelectList">
                        <option value="">---请选择---</option>
                    </select>

                    <label class="my-1 mr-2 ml-2" for="instrument" asp-for="@Model.Search.Instrument"></label>
                    <select class="custom-select select2 my-1 mr-sm-2" style="min-width:110px" id="instrumentId" asp-for="@Model.Search.Instrument">
                    </select>*@
                @*<button type="submit" class="btn btn-outline-primary my-1">查询</button>*@
            </form>
        </div>
    </div>

    <div class="card-body pt-0">
        <div class="tab-content">
            @*维护记录*@
            <div class="tab-pane fade table-responsive active show" id="maintenance-record" role="tabpanel" aria-labelledby="maintenance-record-tab">
                <a asp-page="MaintenanceRecords/Create">
                    <input type="button" class="btn btn-outline-primary my-2" value="新建" style="margin-right:10px;">
                </a>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal-maintenanceAuditTrailLog">
                    历史
                </button>
                <table id="index" class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].InstrumentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].ProjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].BeginTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Content)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Operator)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MaintenanceRecords)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstrumentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BeginTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type)
                                </td>
                                <td>
                                    <div class="text-wrap">
                                        @Html.DisplayFor(modelItem => item.Content)
                                    </div>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Operator)
                                </td>
                                <td>
                                    <a asp-page="MaintenanceRecords/Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt fa-lg"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="modal-maintenanceAuditTrailLog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">操作日志</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <audit-trail logs="Model.MaintenanceAuditTrailLogs"></audit-trail>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary float-right" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>

            @*使用记录*@
            <div class="tab-pane fade table-responsive" id="usage-record" role="tabpanel" aria-labelledby="usage-record-tab">
                <a asp-page="UsageRecords/Create">
                    <input type="button" class="btn btn-outline-primary my-2" value="新建" style="margin-right:10px;">
                </a>
                <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modal-usageAuditTrailLog">
                    历史
                </button>
                <table id="index" class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].InstrumentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].ProjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].BeginTimeOfTest)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].SampleNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].TestNumber)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].VacuumDegree)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].BlankSignal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].TestSignal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].Creator)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UsageRecords)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstrumentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BeginTimeOfTest)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SampleNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TestNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VacuumDegree) @Html.DisplayFor(modelItem => item.VacuumDegreeUnit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BlankSignal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TestSignal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator)
                                </td>
                                <td>
                                    <a asp-page="UsageRecords/Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt fa-lg"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="modal-usageAuditTrailLog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">操作日志</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <audit-trail logs="Model.UsageAuditTrailLogs"></audit-trail>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary float-right" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/Records.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("select#project").change();
            // 激活查询的设备编号选项
            @*$(document).ajaxComplete(function () {
                var selectdInstrument = @Json.Serialize(Model.Search?.Instrument);
                if (selectdInstrument) {
                    $("select#instrumentId").val(selectdInstrument);
                }
            })*@

            // 重新激活tab
            if (localStorage) {
                $('div.card-title a[data-toggle="pill"').on('click', function () {
                    localStorage.setItem('activeTab', $(this).attr('href'));
                });
                var activeTab = localStorage.getItem('activeTab');
                if (activeTab) {
                    $('.nav-item a[href="' + activeTab + '"]').tab('show');
                }
            }
            else {
                console.log("当前浏览器不支持LocalStorage");
            }

            $('#status').on('change', function () {
                $('form').submit();
            })
            $('#project').on('change', function () {
                $('form').submit();
            })
            $('#instrumentId').on('change', function () {
                $('form').submit();
            })
        })
    </script>
}
