@page
@model EquipmentManagementSystem.Pages.MaintenanceRecords.DeleteModel

@{
    ViewData["Title"] = "删除";
}

<div class="card">
    <div class="card-header">
        <h4 class="">使用记录</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintenanceRecord.InstrumentId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintenanceRecord.InstrumentId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintenanceRecord.ProjectName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintenanceRecord.ProjectName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintenanceRecord.BeginTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintenanceRecord.BeginTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintenanceRecord.EndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintenanceRecord.EndTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintenanceRecord.Type)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintenanceRecord.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintenanceRecord.Content)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintenanceRecord.Content)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.MaintenanceRecord.Operator)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.MaintenanceRecord.Operator)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="MaintenanceRecord.Id" />
            <input type="submit" value="删除" class="btn btn-danger" /> |
            <a asp-page="../Index">返回</a>
        </form>
    </div>
</div>
