@page
@model EquipmentManagementSystem.Pages.MaintenanceRecords.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MaintenanceRecord</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.Instrument)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.Instrument.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.Project.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.BeginTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.BeginTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaintenanceRecord.Operator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaintenanceRecord.Operator)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MaintenanceRecord.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
