@page
@model EquipmentManagementSystem.Pages.MaintenanceRecords.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].Instrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaintenanceRecord[0].Operator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MaintenanceRecord) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operator)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
