@page
@model EquipmentManagementSystem.Pages.Management.MaintenanceContents.IndexModel

@{
    ViewData["Title"] = "后台管理";
}


<div class="card col-12">
    <h4 class="card-header">
        维护内容
        <a asp-page="Create">
            <input type="button" class="btn btn-outline-primary btn-sm" value="新建" style="margin-left: 10px;" />
        </a>
    </h4>
    <div class="card-body table-responsive">
        <table id="index" class="table table-sm">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContents[0].InstrumentPlatform)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContents[0].Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContents[0].Text)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContents[0].Translation)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContents[0].Cycle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContents[0].RemindTime)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MaintenanceContents)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentPlatform)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Translation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cycle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RemindTime)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">编辑</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
