@page
@model IndexModel
@{
    ViewData["Title"] = "看板";
}

<!-- kanban -->
<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success ">
            <div class="inner">
                <h3>@Model.InstrumentNumber</h3>

                <p>主检设备</p>
            </div>
            <div class="icon">
                <i class="fas fa-server"></i>
            </div>
            <a asp-page="Equipments/Instruments/Index" class="small-box-footer">查看 <i class="fas fa-arrow-circle-right"></i></a>
            <a asp-page="Equipments/Instruments/Index" class="stretched-link"></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@(Model.ToBeMaintainedOfYearly.Count + Model.ToBeMaintainedOfQuarterly.Count)</h3>

                <p>待维护设备</p>
            </div>
            <div class="icon">
                <i class="fas fa-sync"></i>
            </div>
            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#InstrumentToBeMaintained">查看 <i class="fas fa-arrow-circle-right"></i></a>
            <a href="#" class="stretched-link" data-toggle="modal" data-target="#InstrumentToBeMaintained"></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@Model.InstrumentOfExpire.Count</h3>

                <p>待校准设备</p>
            </div>
            <div class="icon">
                <i class="fas fa-balance-scale-left"></i>
            </div>
            <a href="#" class="small-box-footer" data-toggle="modal" data-target="#InstrumentOfExpire">查看 <i class="fas fa-arrow-circle-right"></i></a>
            <a href="#" class="stretched-link" data-toggle="modal" data-target="#InstrumentOfExpire"></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@Model.MalfunctionWorkOrderOfFollowNumber</h3>

                <p>待跟进故障</p>
            </div>
            <div class="icon">
                <i class="fas fa-tools"></i>
            </div>
            <a href="Malfunctions/WorkOrders/Doing" class="small-box-footer">查看 <i class="fas fa-arrow-circle-right"></i></a>
            <a href="Malfunctions/WorkOrders/Doing" class="stretched-link"></a>
        </div>
    </div>
    <!-- ./col -->
</div>


<!-- Modal -->
<div class="modal fade" id="InstrumentOfExpire" tabindex="-1" role="dialog" aria-labelledby="InstrumentOfExpire" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="InstrumentOfExpire">待校准设备</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>
                                    所属项目组
                                </th>
                                <th>
                                    设备编号
                                </th>
                                <th>
                                    计划校准日期
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.InstrumentOfExpire)
                            {
                                var Group = item.Split(":")[0];
                                var Id = item.Split(":")[1];
                                var PlanDate = item.Split(":")[2];
                                <tr>
                                    <td>
                                        @Group
                                    </td>
                                    <td>
                                        @Id
                                    </td>
                                    <td>
                                        @PlanDate
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InstrumentToBeMaintained" tabindex="-1" role="dialog" aria-labelledby="InstrumentToBeMaintained" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="InstrumentToBeMaintained">待维护设备</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6>季度维护待维护内容</h6>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfQuarterly[0].Group)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfQuarterly[0].InstrumentId)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfQuarterly[0].MaintenanceContent)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfQuarterly[0].MaintenanceTime)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfQuarterly[0].NextMaintenanceTime)</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ToBeMaintainedOfQuarterly)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Group)</td>
                                            <td>@Html.DisplayFor(modelItem => item.InstrumentId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MaintenanceContent)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MaintenanceTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.NextMaintenanceTime)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6">
                            <h6>年度维护待维护内容</h6>
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfYearly[0].Group)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfYearly[0].InstrumentId)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfYearly[0].MaintenanceContent)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfYearly[0].MaintenanceTime)</td>
                                        <td>@Html.DisplayNameFor(model => model.ToBeMaintainedOfYearly[0].NextMaintenanceTime)</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ToBeMaintainedOfYearly)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Group)</td>
                                            <td>@Html.DisplayFor(modelItem => item.InstrumentId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MaintenanceContent)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MaintenanceTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.NextMaintenanceTime)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
}
