@page
@model IndexModel
@{
    ViewData["Title"] = "看板";
}

    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-server"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">主检设备</span>
                    <span class="info-box-number">@Model.InstrumentNumber</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fas fa-cube"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">辅助设备</span>
                    <span class="info-box-number">0</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-warning"><i class="fas fa-balance-scale-left"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">需校准设备</span>
                    <span class="info-box-number">@Model.InstrumentOfExpire.Count</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">需跟进工单</span>
                    <span class="info-box-number">@Model.MalfunctionWorkOrderOfFollow.Count</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>

<div class="row">
    <div class="col-md-4">
        <div class="card height-control">
            <div class="card-header">
                <h3 class="card-title">
                    需校准设备
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.InstrumentOfExpire[0].ID)
                            </th>
                            <th>
                                到期日期
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.InstrumentOfExpire[0].Group)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InstrumentOfExpire)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </td>

                                <td>
                                    @if (item.Calibrations != null)
                                    {
                                        var lastCalibrationDateTime = item.Calibrations.Last().Date;
                                        if (lastCalibrationDateTime != null)
                                        {
                                            @(lastCalibrationDateTime.AddYears(item.CalibrationCycle).AddDays(-1).ToShortDateString())
                                        }
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Group)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div class="col-md-4">
        <div class="card height-control">
            <div class="card-header">
                <h3 class="card-title">
                    需跟进工单
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MalfunctionWorkOrderOfFollow[0].InstrumentID)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MalfunctionWorkOrderOfFollow[0].Progress)
                            </th>
                            <th>
                                故障描述
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MalfunctionWorkOrderOfFollow)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstrumentID)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Progress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MalfunctionInfo.Part)@Html.DisplayFor(modelItem => item.MalfunctionInfo.Phenomenon)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>
