@page
@inject UserManager<User> UserManager
@model EquipmentManagementSystem.Pages.Instruments.DetailsModel

@{
    ViewData["Title"] = "详细信息";

    // 当前用户
    var CurrentUser = UserManager.GetUserAsync(User).Result.Name;

    // 当前用户所属项目组
    var CurrentUserGroup = UserManager.GetUserAsync(User).Result.Group;

    // 授权编辑设备信息
    var CanEditInformation = User.IsInRole(Constants.DirectorRole) || User.IsInRole(Constants.ManagerRole);

    // 授权新建校准信息和部件信息
    var CanCreate = User.IsInRole(Constants.DirectorRole) || User.IsInRole(Constants.ManagerRole);

    // 授权编辑校准信息和部件信息
    var CanEdit = User.IsInRole(Constants.DirectorRole) || User.IsInRole(Constants.ManagerRole) ||
                    UserManager.GetUserAsync(User).Result.Group == Model.Instrument.Group;

    // 授权删除
    var CanDelete = User.IsInRole(Constants.DirectorRole);
}

<div class="card">
    <div class="card-header">
        <h3>
            @Html.DisplayFor(mdoel => Model.Instrument.ID)
            @{
                var status = Model.Instrument.Status.ToString();
                if (status == "Using")
                {
                    <span class="badge badge-success">正常</span>
                }
                else if (status == "Malfunction")
                {
                    <span class="badge badge-warning">故障</span>
                }
                else if (status == "StopUsing")
                {
                    <span class="badge badge-warning">停用</span>
                }
                else if (status == "Allocate")
                {
                    <span class="badge badge-warning">调拨</span>
                }
                else if (status == "Scrapped")
                {
                    <span class="badge badge-danger">报废</span>
                }
            }
        </h3>
    </div>

    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-3">
                <div class="card h-100">
                    <div class="card-header">
                        <p class="card-title">
                            <i class="fa fa-tag" aria-hidden="true"></i> 基础信息
                        </p>
                        <div class="card-tools">
                            @if (CanEditInformation)
                            {
                                <a asp-page="./Edit" asp-route-id="@Model.Instrument.ID">
                                    <i class="fas fa-edit fa-lg" aria-hidden="true"></i>@*编辑*@
                                </a>
                            }
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-sm table-borderless">
                            <tbody>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Platform)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.Platform)</td>

                                    <th>@Html.DisplayNameFor(model => model.Instrument.Location)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.Location)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Name)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.Name)</td>

                                    <th>@Html.DisplayNameFor(model => model.Instrument.Principal)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.Principal)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.StartUsingDate)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.StartUsingDate)</td>

                                    <th>@Html.DisplayNameFor(model => model.Instrument.Group)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.Group)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.CalibrationCycle)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.CalibrationCycle)</td>

                                    <th>@Html.DisplayNameFor(model => model.Instrument.Projects)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.Projects)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.MetrologicalCharacteristics)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.MetrologicalCharacteristics)</td>

                                    <th>@Html.DisplayNameFor(model => model.Instrument.NewSystemCode)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.NewSystemCode)</td>
                                </tr>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Remark)</th>
                                    <td>@Html.DisplayFor(model => model.Instrument.Remark)</td>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col mb-3">
                <div class="card height-control h-100">
                    <div class="card-header">
                        <p class="card-title">
                            <i class="fa fa-balance-scale" aria-hidden="true"></i> 校准信息
                        </p>
                        <div class="card-tools">
                            @if (CanCreate)
                            {
                                <a asp-page="../Calibrations/Create" asp-route-id="@Model.Instrument.ID">
                                    <i class="fas fa-plus fa-lg" aria-hidden="true"></i>@*新建*@
                                </a>
                            }
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-sm text-nowrap">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Calibrations.First().Date)</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Calibrations.First().Unit)</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Calibrations.First().Result)</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Calibrations.First().Calibrator)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Instrument.Calibrations)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Result)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Calibrator)</td>
                                        <td>
                                            @if (CanEdit)
                                            {
                                                <a asp-page="../Calibrations/Edit" asp-route-id="@item.ID">编辑</a>
                                            }
                                            @if (CanDelete)
                                            {
                                                <text>|</text>
                                                <a asp-page="../Calibrations/Delete" asp-route-id="@item.ID">删除</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-3">
                <div class="card height-control h-100">
                    <div class="card-header">
                        <p class="card-title">
                            <i class="fa fa-cube" aria-hidden="true"></i> 部件信息
                        </p>
                        <div class="card-tools">
                            @if (CanCreate)
                            {
                                <a asp-page="../Components/Create" asp-route-id="@Model.Instrument.ID">
                                    <i class="fas fa-plus fa-lg" aria-hidden="true"></i>@*新建*@
                                </a>
                            }
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-sm text-nowrap">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Components.First().Name)</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Components.First().Brand)</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Components.First().Model)</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.Components.First().SerialNumber)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Instrument.Components)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Brand)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Model)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                                        <td>
                                            @if (CanEdit)
                                            {
                                                <a asp-page="../Components/Edit" asp-route-id="@item.ID">编辑</a>
                                            }
                                            @if (CanDelete)
                                            {
                                                <text>|</text>
                                                <a asp-page="../Components/Delete" asp-route-id="@item.ID">删除</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col mb-3">
                <div class="card height-control h-100">
                    <div class="card-header">
                        <p class="card-title">
                            <i class="fa fa-tools" aria-hidden="true"></i> 故障信息
                        </p>
                        <div class="card-tools">
                            @if (CanEdit)
                            {
                                <a asp-page="../Malfunctions/WorkOrders/Create" asp-route-id="@Model.Instrument.ID">
                                    <i class="fas fa-plus fa-lg" aria-hidden="true"></i>@*新建*@
                                </a>
                            }
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-sm text-nowrap">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.MalfunctionWorkOrder.First().MalfunctionInfo.BeginTime)</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.MalfunctionWorkOrder.First().Validation.FinishedTime)</th>
                                    <th>故障描述</th>
                                    <th>@Html.DisplayNameFor(model => model.Instrument.MalfunctionWorkOrder.First().MalfunctionInfo.MalfunctionWorkOrder.Progress)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Instrument.MalfunctionWorkOrder)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.MalfunctionInfo.BeginTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Validation.FinishedTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MalfunctionInfo.Part)@Html.DisplayFor(modelItem => item.MalfunctionInfo.Phenomenon)</td>
                                        <td>@Html.DisplayFor(modelItem => item.MalfunctionInfo.MalfunctionWorkOrder.Progress)</td>
                                        <td>
                                            <a asp-page="../Malfunctions/WorkOrders/Details" asp-route-id="@item.ID">查看</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-print">
            <div class="col-md-12">
                <div>
                    <a asp-page="./Index">
                        <input type="button" class="btn btn-default" value="返回" style="margin-left: 5px;">
                    </a>
                    <button onclick="javascript:window.print()" type="button" class="btn btn-outline-primary float-right" style="margin-right: 5px;">
                        <i class="fas fa-download"></i> 生成 PDF
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>