@page
@model EquipmentManagementSystem.Pages.Instruments.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instrument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Platform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.StartUsingDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.StartUsingDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.CalibrationCycle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.CalibrationCycle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.MetrologicalCharacteristics)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.MetrologicalCharacteristics)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Principal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Principal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instrument.Remark)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.components) <a asp-page="../Components/Create">(Create New)</a>
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Instrument.components.First().SerialNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.components.First().Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.components.First().Model)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Instrument.components)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.SerialNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Model)</td>
                        <td>
                            <a asp-page="../Components/Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-page="../Components/Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-page="../Components/Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.assert) <a asp-page="../Asserts/Create">(Create New)</a>
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Instrument.assert.Code)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.assert.EntryDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.assert.SourceUnit)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.assert.Remark)</th>
                    <th></th>
                </tr>
                    <tr>
                        <td>@Html.DisplayFor(model => model.Instrument.assert.Code)</td>
                        <td>@Html.DisplayFor(model => model.Instrument.assert.EntryDate)</td>
                        <td>@Html.DisplayFor(model => model.Instrument.assert.SourceUnit)</td>
                        <td>@Html.DisplayFor(model => model.Instrument.assert.Remark)</td>
                        <td>
                            <a asp-page="../Asserts/Edit" asp-route-id="@Model.Instrument.assert.ID">Edit</a> |
                            <a asp-page="../Asserts/Details" asp-route-id="@Model.Instrument.assert.ID">Details</a> |
                            <a asp-page="../Asserts/Delete" asp-route-id="@Model.Instrument.assert.ID">Delete</a>
                        </td>
                    </tr>
            </table>
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument.calibrations) <a asp-page="../Calibrations/Create">(Create New)</a>
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Instrument.calibrations.First().Date)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.calibrations.First().Unit)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.calibrations.First().Result)</th>
                    <th>@Html.DisplayNameFor(model => model.Instrument.calibrations.First().Calibrator)</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Instrument.calibrations)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                        <td>@Html.DisplayFor(modelItem => item.Result)</td>
                        <td>@Html.DisplayFor(modelItem => item.Calibrator)</td>
                        <td>
                            <a asp-page="../Calibrations/Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-page="../Calibrations/Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-page="../Calibrations/Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Instrument.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
