@page
@model EquipmentManagementSystem.Pages.Instruments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].StartUsingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].CalibrationCycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument[0].Remark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Instrument) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartUsingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalibrationCycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
