@page
@model EquipmentManagementSystem.Pages.Instruments.IndexModel
@inject SignInManager<User> SignInManager

@{
    ViewData["Title"] = "主检设备";
}

<div class="card">
    <h4 class="card-header">
        设备一览
        @if (SignInManager.IsSignedIn(User) && (await AuthorizationService.AuthorizeAsync(User, Model.Instrument[0], Operations.Create)).Succeeded)
        {
            <a asp-page="Create">
                <input type="button" class="btn btn-outline-primary btn-sm" value="新增设备" style="margin-left: 10px;">
            </a>
        }
    </h4>

    <div class="card-body">
        <table id="index" class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Instrument[0].ID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instrument[0].Name)
                    </th>
                    <th>
                        计划@(Html.DisplayNameFor(model => model.Instrument[0].Calibrations.First().Date))
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instrument[0].Group)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instrument[0].Location)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instrument[0].Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instrument[0].Remark)
                    </th>
                    <th>&nbsp</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Instrument)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @if (item.Calibrations.Count > 0)
                            {
                                var lastCalibrationDateTime = item.Calibrations.Last().Date;
                                if (lastCalibrationDateTime != DateTime.MinValue)
                                {
                                    @(lastCalibrationDateTime.AddYears(item.CalibrationCycle).AddDays(-1).ToShortDateString())
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Group)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                        <td>
                            @{
                                var status = item.Status.ToString();
                                if (status == "Using")
                                {
                                    <span class="badge badge-success text-md">正常</span>
                                }
                                else if (status == "Malfunction")
                                {
                                    <span class="badge badge-warning text-md">故障</span>
                                }
                                else if (status == "StopUsing")
                                {
                                    <span class="badge badge-warning text-md">停用</span>
                                }
                                else if (status == "Allocate")
                                {
                                    <span class="badge badge-warning text-md">调拨</span>
                                }
                                else if (status == "Scrapped")
                                {
                                    <span class="badge badge-danger text-md">报废</span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remark)
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.ID"><i class="fas fa-eye fa-lg" aria-hidden="true"></i></a>@*查看*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {}
