@page
@model EquipmentManagementSystem.Pages.Records.IndexModel
@{
}

@*<partial name="_StatusMessage" for="StatusMessage" />*@

<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <div class="card-title">
            <ul class="nav nav-tabs">
                <li class="nav-usageRecord">
                    <a class="nav-link active" id="maintenance-record-tab" data-toggle="pill" href="#maintenance-record" role="tab" aria-controls="maintenance-record" aria-selected="true">
                        <h5 class="text-dark">维护记录</h5>
                    </a>
                </li>
                <li class="nav-usageRecord">
                    <a class="nav-link" id="usage-record-tab" data-toggle="pill" href="#usage-record" role="tab" aria-controls="usage-record" aria-selected="false">
                        <h5 class="text-dark">使用记录</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-tools">
            <form id="search" class="form-inline float-left" method="post" asp-page-handler="Search">
                <label class="my-1 mr-2 ml-2" for="instrument" asp-for="@Model.Search.Instrument"></label>
                <select class="custom-select my-1 mr-2" id="instrumentId" asp-for="@Model.Search.Instrument">
                    @if (Model.Search.InstrumentSelectList.Count == 0)
                    {
                        <option value="">无仪器编号</option>
                    }
                    else
                    {
                        @foreach (var id in Model.Search.InstrumentSelectList)
                        {
                            <option value="@id">@id</option>
                        }
                    }
                </select>

                <label class="my-1 mr-2" for="date">月份</label>
                <input class="form-control my-1 mr-2" id="date" type="month" asp-for="Search.Date" style="width:165px;" />

                <button class="btn btn-outline-primary my-1 mr-2" asp-page-handler="Search">查询</button>
                @* TODO *@
                <button class="btn btn-outline-primary my-1" asp-page-handler="CreateReport">导出</button>
            </form>
        </div>
    </div>

    <div class="card-body pt-0">
        <div class="tab-content">
            @if (Model.Search.InstrumentSelectList.Count == 0)
            {
                <p>无仪器数据，请先在设备档案中新建</p>
            }
            else
            {
                @*维护记录*@
                // 固定显示31天
                int columnNumber = 31;
                int totalColSpan = 33;
                string InstrumentPlatform = "LCMS";
                <div class="tab-pane fade table-responsive active show" id="maintenance-record" role="tabpanel" aria-labelledby="maintenance-record-tab">
                    <a asp-page="MaintenanceRecords/Create" asp-route-instrumentId="@Model.Search.Instrument">
                        <input type="button" class="btn btn-primary my-2" value="新建">
                    </a>
                    @*<audit-trail logs="Model.MaintenanceAuditTrailLogs" modal-id="maintenanceAuditTrailLog"></audit-trail>*@

                    <h6>仪器编号：@Model.Search.Instrument</h6>

                    <div>

                        <table id="manintenance-record">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].BeginTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].EndTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Daily)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Weekly)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Monthly)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Quarterly)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Yearly)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Temporary)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Operator)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var Record in Model.MaintenanceRecords)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.BeginTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.EndTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.Daily)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.Weekly)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.Monthly)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.Quarterly)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.Yearly)
                                        </td>
                                        <td>
                                            <div class="text-wrap">
                                                @Html.DisplayFor(modelItem => Record.Temporary)
                                                @if (Record.Other != null)
                                                {
                                                    <text>其他：</text>
                                                    @Html.DisplayFor(modelItem => Record.Other)
                                                }
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => Record.Operator)
                                        </td>
                                        <td>
                                            @if ((await AuthorizationService.AuthorizeAsync(User, Record, Operations.Update)).Succeeded)
                                            {
                                                <a class="btn btn-sm btn-outline-primary" asp-page="MaintenanceRecords/Edit" asp-route-id="@Record.Id">编辑</a>
                                                <button class="delete-maintenance-record-btn btn btn-sm btn-outline-danger" data-id="@Record.Id">删除</button>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>

                @*使用记录*@
                <div class="tab-pane fade table-responsive" id="usage-record" role="tabpanel" aria-labelledby="usage-record-tab">
                    @*<a asp-page="UsageRecords/Create">
                            <input type="button" class="btn btn-outline-primary my-2" value="新建">
                        </a>
                        <audit-trail logs="Model.UsageAuditTrailLogs" modal-id="usageAuditTrailLog"></audit-trail>*@
                    <h6>仪器编号：@Model.Search.Instrument</h6>
                    <table id="usage-record">
                        <thead class="text-nowrap">
                            <tr>
                                <th class="time">开始时间</th>
                                <th class="time">结束时间</th>
                                <th class="projectname">检测项目</th>
                                <th class="samplenumber">临床样数量</th>
                                <th class="batchnumber">Batch样品量</th>
                                <th class="vacuumdegree">真空度</th>
                                <th class="columntype">色谱柱/压力</th>
                                <th class="blank">Blank</th>
                                <th class="test">Test</th>
                                <th class="remark">备注</th>
                                <th class="operator">操作者</th>
                                <th class="button">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usageRecord in Model.UsageRecords)
                            {
                                @* view row *@
                                <tr class="view-row">
                                    <td class="time">@Html.DisplayFor(item => usageRecord.BeginTime)</td>
                                    <td class="time">@Html.DisplayFor(item => usageRecord.EndTime)</td>
                                    <td class="projectname">@Html.DisplayFor(item => usageRecord.ProjectName)</td>
                                    <td class="samplenumber">@Html.DisplayFor(item => usageRecord.SampleNumber)</td>
                                    <td class="batchnumber">
                                        @if (usageRecord.SystemOneBatchNumber != null && usageRecord.SystemTwoBatchNumber != null)
                                        {
                                            <text>S1：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneBatchNumber)
                                            <br />
                                            <text>S2：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoBatchNumber)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(item => usageRecord.SystemOneBatchNumber)
                                        }
                                    </td>
                                    <td class="vacuumdegree">
                                        @if (usageRecord.LowVacuumDegree != null && usageRecord.HighVacuumDegree != null)
                                        {
                                            <text>低：</text>
                                            @Html.DisplayFor(item => usageRecord.LowVacuumDegree)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.LowVacuumDegreeUnit)
                                            <br />
                                            <text>高：</text>
                                            @Html.DisplayFor(item => usageRecord.HighVacuumDegree)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.HighVacuumDegreeUnit)
                                        }
                                        else if (usageRecord.LowVacuumDegree != null)
                                        {
                                            <text>低：</text>
                                            @Html.DisplayFor(item => usageRecord.LowVacuumDegree)
                                            @Html.DisplayFor(item => usageRecord.LowVacuumDegreeUnit)
                                        }
                                        else if (usageRecord.HighVacuumDegree != null)
                                        {
                                            <text>高：</text>
                                            @Html.DisplayFor(item => usageRecord.HighVacuumDegree)
                                            @Html.DisplayFor(item => usageRecord.HighVacuumDegreeUnit)
                                        }
                                    </td>
                                    <td class="columntype">
                                        @if (usageRecord.SystemOneColumnPressure != null && usageRecord.SystemTwoColumnPressure != null)
                                        {
                                            <text>S1：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnNumber)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnPressure)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnPressureUnit)
                                            <br />
                                            <text>S2：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnNumber)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnPressure)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnPressureUnit)
                                        }
                                        else if (usageRecord.SystemOneColumnPressure != null)
                                        {
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnNumber)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnPressure)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnPressureUnit)
                                        }
                                        else if (usageRecord.SystemTwoColumnPressure != null)
                                        {
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnNumber)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnPressure)<text>&nbsp;</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnPressureUnit)
                                        }
                                    </td>
                                    <td class="blank">@Html.DisplayFor(item => usageRecord.BlankSignal)</td>
                                    <td class="test">
                                        @if (usageRecord.SystemOneTestSignal != null && usageRecord.SystemTwoTestSignal != null)
                                        {
                                            <text>S1：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneTestSignal)
                                            <br />
                                            <text>S2：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoTestSignal)
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(item => usageRecord.SystemOneTestSignal)
                                        }
                                    </td>
                                    <td class="remark">@Html.DisplayFor(item => usageRecord.Remark)</td>
                                    <td class="operator">@Html.DisplayFor(item => usageRecord.Operator)</td>
                                    <td class="button">
                                        <button class="edit-btn btn btn-sm btn-outline-primary" data-id="@usageRecord.Id">编辑</button>
                                        <button class="delete-usage-record-btn btn btn-sm btn-outline-danger" data-id="@usageRecord.Id">删除</button>
                                    </td>
                                </tr>
                                @* update-row *@
                                <tr class="update-row">
                                    <td>
                                        <input form="edit-form" type="hidden" asp-for="@usageRecord.Id" disabled />
                                        <input form="edit-form" type="hidden" asp-for="@usageRecord.InstrumentId" disabled />
                                        <input form="edit-form" asp-for="@usageRecord.BeginTime" required disabled />
                                    </td>
                                    <td>
                                        <input form="edit-form" asp-for="@usageRecord.EndTime" disabled />
                                    </td>
                                    <td>
                                        <select form="edit-form" asp-for="@usageRecord.ProjectName" asp-items="@Model.ProjectsSelectList" disabled></select>
                                    </td>
                                    <td>
                                        <input form="edit-form" min="0" step="1" asp-for="@usageRecord.SampleNumber" disabled />
                                    </td>
                                    <td>
                                        <input form="edit-form" min="0" step="1" asp-for="@usageRecord.SystemOneBatchNumber" placeholder="S1" disabled />
                                        <br />
                                        <input form="edit-form" min="0" step="1" asp-for="@usageRecord.SystemTwoBatchNumber" placeholder="S2" disabled />
                                    </td>
                                    <td>
                                        <input form="edit-form" type="number" step="any" asp-for="@usageRecord.LowVacuumDegree" placeholder="低真空" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.LowVacuumDegreeUnit" disabled>
                                            <option value="e-5 torr">e-5 torr</option>
                                            <option value="e-6 torr">e-6 torr</option>
                                            <option value="e+2 Pa">e+2 Pa</option>
                                            <option value="e+1 Pa">e+1 Pa</option>
                                            <option value="e-3 Pa">e-3 Pa</option>
                                            <option value="e-4 Pa">e-4 Pa</option>
                                        </select>
                                        <br />
                                        <input form="edit-form" type="number" step="any" asp-for="@usageRecord.HighVacuumDegree" placeholder="高真空" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.HighVacuumDegreeUnit" disabled>
                                            <option value="e-5 torr">e-5 torr</option>
                                            <option value="e-6 torr">e-6 torr</option>
                                            <option value="e+2 Pa">e+2 Pa</option>
                                            <option value="e+1 Pa">e+1 Pa</option>
                                            <option value="e-3 Pa">e-3 Pa</option>
                                            <option value="e-4 Pa">e-4 Pa</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input form="edit-form" asp-for="@usageRecord.SystemOneColumnNumber" placeholder="S1编号" disabled />
                                        <input form="edit-form" type="number" min="0" step="any" asp-for="@usageRecord.SystemOneColumnPressure" placeholder="S1压力" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.SystemOneColumnPressureUnit" disabled>
                                            <option value="Mpa">Mpa</option>
                                            <option value="Kpa">Kpa</option>
                                            <option value="Bar">Bar</option>
                                            <option value="Psi">Psi</option>
                                        </select>
                                        <br />
                                        <input form="edit-form" asp-for="@usageRecord.SystemTwoColumnNumber" placeholder="S2编号" disabled />
                                        <input form="edit-form" type="number" min="0" step="any" asp-for="@usageRecord.SystemTwoColumnPressure" placeholder="S2压力" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.SystemTwoColumnPressureUnit" disabled>
                                            <option value="Mpa">Mpa</option>
                                            <option value="Kpa">Kpa</option>
                                            <option value="Bar">Bar</option>
                                            <option value="Psi">Psi</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input form="edit-form" asp-for="@usageRecord.SystemTwoColumnPressureUnit"
                                               pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                               title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。"
                                               disabled />
                                    </td>
                                    <td>
                                        <input form="edit-form" asp-for="@usageRecord.SystemOneTestSignal"
                                               placeholder="S1"
                                               pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                               title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。"
                                               disabled />
                                        <br />
                                        <input form="edit-form" asp-for="@usageRecord.BlankSignal"
                                               placeholder="S2"
                                               pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                               title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。"
                                               disabled />
                                    </td>
                                    <td>
                                        <textarea form="edit-form" asp-for="@usageRecord.SystemOneTestSignal" disabled></textarea>
                                    </td>
                                    <td>
                                        <input form="edit-form" asp-for="@usageRecord.SystemTwoTestSignal" disabled required />
                                    </td>
                                    <td class="button">
                                        <button class="update-btn btn btn-sm btn-success" form="edit-form" disabled>保存</button>
                                        <button class="cancel-btn btn btn-sm btn-secondary" disabled>取消</button>
                                    </td>
                                </tr>
                            }
                            @* create-row *@
                            <tr id="create-row">
                                <td>
                                    <input form="create-form" asp-for="UsageRecord.InstrumentId" type="hidden" />
                                    <input form="create-form" asp-for="UsageRecord.BeginTime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                                </td>
                                <td>
                                    <input form="create-form" asp-for="UsageRecord.EndTime" />
                                </td>
                                <td>
                                    <select id="select-project" form="create-form" asp-for="UsageRecord.ProjectName" asp-items="@Model.ProjectsSelectList">
                                    </select>
                                </td>
                                <td>
                                    <input form="create-form" min="0" step="1" asp-for="UsageRecord.SampleNumber" />
                                </td>
                                <td>
                                    <input form="create-form" min="0" step="1" asp-for="UsageRecord.SystemOneBatchNumber" placeholder="S1" />
                                    <br />
                                    <input form="create-form" min="0" step="1" asp-for="UsageRecord.SystemTwoBatchNumber" placeholder="S2" />
                                </td>
                                <td>
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.LowVacuumDegree" placeholder="低真空" />
                                    <select form="create-form" asp-for="UsageRecord.LowVacuumDegreeUnit">
                                        <option value="e-5 torr">e-5 torr</option>
                                        <option value="e-6 torr">e-6 torr</option>
                                        <option value="e+2 Pa">e+2 Pa</option>
                                        <option value="e+1 Pa">e+1 Pa</option>
                                        <option value="e-3 Pa">e-3 Pa</option>
                                        <option value="e-4 Pa">e-4 Pa</option>
                                    </select>
                                    <br />
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.HighVacuumDegree" placeholder="高真空" />
                                    <select form="create-form" asp-for="UsageRecord.HighVacuumDegreeUnit">
                                        <option value="e-5 torr">e-5 torr</option>
                                        <option value="e-6 torr">e-6 torr</option>
                                        <option value="e+2 Pa">e+2 Pa</option>
                                        <option value="e+1 Pa">e+1 Pa</option>
                                        <option value="e-3 Pa">e-3 Pa</option>
                                        <option value="e-4 Pa">e-4 Pa</option>
                                    </select>
                                </td>
                                <td>
                                    <input form="create-form" asp-for="UsageRecord.SystemOneColumnNumber" placeholder="S1编号" />
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.SystemOneColumnPressure" placeholder="S1压力" />
                                    <select form="create-form" asp-for="UsageRecord.SystemOneColumnPressureUnit">
                                        <option value="Mpa">Mpa</option>
                                        <option value="Kpa">Kpa</option>
                                        <option value="Bar">Bar</option>
                                        <option value="Psi">Psi</option>
                                    </select>
                                    <br />
                                    <input form="create-form" asp-for="UsageRecord.SystemTwoColumnNumber" placeholder="S2编号" />
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.SystemTwoColumnPressure" placeholder="S2压力" />
                                    <select form="create-form" asp-for="UsageRecord.SystemTwoColumnPressureUnit">
                                        <option value="Mpa">Mpa</option>
                                        <option value="Kpa">Kpa</option>
                                        <option value="Bar">Bar</option>
                                        <option value="Psi">Psi</option>
                                    </select>
                                </td>
                                <td>
                                    <input form="create-form" asp-for="UsageRecord.BlankSignal"
                                           pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                           title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。" />
                                </td>
                                <td>
                                    <input form="create-form" asp-for="UsageRecord.SystemOneTestSignal"
                                           placeholder="S1"
                                           pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                           title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。" />
                                    <br />
                                    <input form="create-form" asp-for="UsageRecord.SystemTwoTestSignal"
                                           placeholder="S2"
                                           pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                           title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。" />
                                </td>
                                <td>
                                    <textarea form="create-form" asp-for="UsageRecord.Remark"></textarea>
                                </td>
                                <td>
                                    <input form="create-form" asp-for="UsageRecord.Operator" required />
                                </td>
                                <td>
                                    <button form="create-form" id="create-btn" class="btn btn-primary">新建</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h6>备注：</h6>
                    <ol>
                        <li>单系统仪器填写S1对应的输入框；</li>
                        <li>真空度单位，色谱柱编号、单位自动预设为上一次填写的值；</li>
                    </ol>
                </div>
            }
        </div>
    </div>
</div>

<form id="create-form" method="post" asp-page="UsageRecords/Create">
</form>
<form id="edit-form" method="post" asp-page="UsageRecords/Edit">
</form>
<form id="delete-form" method="post" asp-page="UsageRecords/Delete">
</form>
<link rel="stylesheet" href="~/css/Record.css" asp-append-version="true">

@section Scripts {
    <script src="~/js/Records.js" asp-append-version="true"></script>
}
