@page
@model EquipmentManagementSystem.Pages.Records.IndexModel
@inject SignInManager<User> signInManager
@{
    ViewData["Title"] = "维护使用";
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <div class="card-title">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="maintenance-record-tab" data-toggle="pill" href="#maintenance-record" role="tab" aria-controls="maintenance-record" aria-selected="true">
                        <h4 class="text-dark">维护记录</h4>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="usage-record-tab" data-toggle="pill" href="#usage-record" role="tab" aria-controls="usage-record" aria-selected="false">
                        <h4 class="text-dark">使用记录</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-tools">
            <form id="search" class="form-inline float-left" method="post" asp-page-handler="Search">
                <label class="my-1 mr-2" for="date">月份</label>
                <input class="form-control" id="date" type="month" asp-for="Search.Date" />

                <label class="my-1 mr-2 ml-2" for="instrument" asp-for="@Model.Search.Instrument"></label>
                <select class="custom-select my-1 mr-2" id="instrumentId" asp-for="@Model.Search.Instrument" asp-items="@Model.Search.InstrumentSelectList"></select>

                @*<button class="btn btn-outline-primary my-1" asp-page-handler="Search">查询</button>*@
            </form>
        </div>
    </div>

    <div class="card-body pt-0">
        <div class="tab-content">
            @*维护记录*@
            <div class="tab-pane fade table-responsive active show" id="maintenance-record" role="tabpanel" aria-labelledby="maintenance-record-tab">
                <a asp-page="MaintenanceRecords/Create">
                    <input type="button" class="btn btn-outline-primary my-2" value="新建">
                </a>
                @*<audit-trail logs="Model.MaintenanceAuditTrailLogs" modal-id="maintenanceAuditTrailLog"></audit-trail>*@

                <table id="" class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].InstrumentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].ProjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].BeginTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Type)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Content)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MaintenanceRecords[0].Operator)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*@foreach (var item in Model.MaintenanceRecords)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InstrumentId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BeginTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        <div class="text-wrap">
                                            @Html.DisplayFor(modelItem => item.Content)
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Operator)
                                    </td>
                                    <td>
                                        @if ((await AuthorizationService.AuthorizeAsync(User, item, Operations.Update)).Succeeded)
                                        {
                                            <a asp-page="MaintenanceRecords/Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt fa-lg"></i></a>
                                        }
                                    </td>
                                </tr>
                            }*@
                    </tbody>
                </table>
            </div>

            @*使用记录*@
            <div class="tab-pane fade table-responsive" id="usage-record" role="tabpanel" aria-labelledby="usage-record-tab">
                @*<a asp-page="UsageRecords/Create">
                        <input type="button" class="btn btn-outline-primary my-2" value="新建">
                    </a>*@
                @*<audit-trail logs="Model.UsageAuditTrailLogs" modal-id="usageAuditTrailLog"></audit-trail>*@

                <table id="" class="table table-hover">
                    <thead class="text-nowrap">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].InstrumentId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].ProjectName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].BeginTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].SampleNumber)
                            </th>
                            <th>
                                Batch样品数
                            </th>
                            <th>
                                色谱柱
                            </th>
                            <th>
                                真空度
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].BlankSignal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].TestSignal)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].EndTime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UsageRecords[0].Creator)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UsageRecords)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstrumentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BeginTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SampleNumber)
                                </td>
                                <td>
                                    S1：@Html.DisplayFor(modelItem => item.SystemOneBatchNumber)
                                    <br />
                                    S2：@Html.DisplayFor(modelItem => item.SystemTwoBatchNumber)
                                </td>
                                <td>
                                    S1：@Html.DisplayFor(modelItem => item.SystemOneColumnNumber)
                                    @Html.DisplayFor(modelItem => item.SystemOneColumnPressure)
                                    @Html.DisplayFor(modelItem => item.SystemOneColumnPressureUnit)
                                    <br />
                                    S2：@Html.DisplayFor(modelItem => item.SystemTwoColumnNumber)
                                    @Html.DisplayFor(modelItem => item.SystemTwoColumnPressure)
                                    @Html.DisplayFor(modelItem => item.SystemTwoColumnPressureUnit)
                                </td>
                                <td>
                                    低：@Html.DisplayFor(modelItem => item.LowVacuumDegree) @Html.DisplayFor(modelItem => item.LowVacuumDegreeUnit)
                                    <br />
                                    高：@Html.DisplayFor(modelItem => item.HighVacuumDegree) @Html.DisplayFor(modelItem => item.HighVacuumDegreeUnit)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BlankSignal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TestSignal)
                                </td>
                                <td>
                                    @if (item.EndTime != null)
                                    {
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    }
                                    else
                                    {
                                        <button>更新</button>
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator)
                                </td>
                                <td>
                                    @*@if ((await AuthorizationService.AuthorizeAsync(User, item, Operations.Update)).Succeeded)
                                        {
                                            <a asp-page="UsageRecords/Edit" asp-route-id="@item.Id">编辑</a>
                                            <a asp-page="UsageRecords/Delete" asp-route-id="@item.Id">删除</a>
                                        }*@
                                    @*<a asp-page="UsageRecords/Edit" asp-route-id="@item.Id">编辑</a>*@
                                    <button form="deleteForm" asp-page="UsageRecords/Delete" asp-route-id="@item.Id">删除</button>

                                </td>
                            </tr>
                        }
                        <tr>
                            <td>
                                <input form="createForm" size="8" asp-for="UsageRecord.InstrumentId" value="@Model.Search.Instrument" />
                            </td>
                            <td>
                                <input form="createForm" asp-for="UsageRecord.ProjectName" />
                            </td>
                            <td>
                                <input form="createForm" size="5" asp-for="UsageRecord.BeginTime" required />
                            </td>
                            <td>
                                <input form="createForm" size="5" asp-for="UsageRecord.SampleNumber" />
                            </td>
                            <td>
                                S1：<input form="createForm" size="5" asp-for="UsageRecord.SystemOneBatchNumber" />
                                <br />
                                S2：<input form="createForm" size="5" asp-for="UsageRecord.SystemTwoBatchNumber" />
                            </td>
                            <td>
                                S1：<input form="createForm" size="5" asp-for="UsageRecord.SystemOneColumnNumber" />
                                <input type="number" min="0" step="any" form="createForm" size="5" asp-for="UsageRecord.SystemOneColumnPressure" />
                                <select form="createForm" asp-for="UsageRecord.SystemOneColumnPressureUnit">
                                    <option value="Mpa">Mpa</option>
                                    <option value="Bar">Bar</option>
                                    <option value="Psi">Psi</option>
                                </select>
                                <br />
                                S2：<input form="createForm" size="5" asp-for="UsageRecord.SystemTwoColumnNumber" />
                                <input type="number" min="0" step="any" form="createForm" size="5" asp-for="UsageRecord.SystemTwoColumnPressure" />
                                <select form="createForm" asp-for="UsageRecord.SystemTwoColumnPressureUnit">
                                    <option value="Mpa">Mpa</option>
                                    <option value="Bar">Bar</option>
                                    <option value="Psi">Psi</option>
                                </select>
                            </td>
                            <td>
                                低：<input form="createForm" size="5" asp-for="UsageRecord.LowVacuumDegree" />
                                <select form="createForm" asp-for="UsageRecord.LowVacuumDegreeUnit">
                                    <option value="torr">torr</option>
                                    <option value="mbar">mbar</option>
                                </select>
                                <br />
                                高：<input form="createForm" size="5" asp-for="UsageRecord.HighVacuumDegree" />
                                <select form="createForm" asp-for="UsageRecord.HighVacuumDegreeUnit">
                                    <option value="torr">torr</option>
                                    <option value="mbar">mbar</option>
                                </select>
                            </td>
                            <td>
                                <input form="createForm" size="5" asp-for="UsageRecord.BlankSignal" />
                            </td>
                            <td>
                                <input form="createForm" size="5" asp-for="UsageRecord.TestSignal" />
                            </td>
                            <td>
                                <input form="createForm" size="5" asp-for="UsageRecord.EndTime" />
                            </td>
                            <td>
                                <input form="createForm" size="5" asp-for="UsageRecord.Creator" />
                            </td>
                            <td>
                                <button form="createForm" id="Save">保存</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form id="createForm" method="post" asp-page="UsageRecords/Create">
                </form>
                <form id="deleteForm" method="post" asp-page="UsageRecords/Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    td {
        margin: 0px;
    }

    input[type=Number] {
        width: 60px;
    }

    input[type=datetime-local] {
        width: 188px;
    }
</style>
@section Scripts {
    <script src="~/js/Records.js" asp-append-version="true"></script>
    <script>

        $("button#Save").on("click", function () {

        })

        $(document).ready(function () {
            $("select#project").change();
            // 激活查询的设备编号选项
            @*$(document).ajaxComplete(function () {
                var selectdInstrument = @Json.Serialize(Model.Search?.Instrument);
                if (selectdInstrument) {
                    $("select#instrumentId").val(selectdInstrument);
                }
            })*@

            // 重新激活tab
            if (localStorage) {
                $('div.card-title a[data-toggle="pill"').on('click', function () {
                    localStorage.setItem('activeTab', $(this).attr('href'));
                });
                var activeTab = localStorage.getItem('activeTab');
                if (activeTab) {
                    $('.nav-item a[href="' + activeTab + '"]').tab('show');
                }
            }
            else {
                console.log("当前浏览器不支持LocalStorage");
            }

            $('#date').on('change', function () {
                $('form#search').submit();
            })
            $('#instrumentId').on('change', function () {
                $('form#search').submit();
            })
            //$('#project').on('change', function () {
            //    $('form').submit();
            //})
            //$('#instrumentId').on('change', function () {
            //    $('form').submit();
            //})
        })
    </script>
}
