@page
@model EquipmentManagementSystem.Pages.Records.IndexModel
@{
}

@*<partial name="_StatusMessage" for="StatusMessage" />*@

<div class="card card-primary card-outline card-outline-tabs">
    <div class="card-header p-0 border-bottom-0">
        <div class="card-title">
            <ul class="nav nav-tabs">
                <li class="nav-usageRecord">
                    <a class="nav-link active" id="maintenance-record-tab" data-toggle="pill" href="#maintenance-record" role="tab" aria-controls="maintenance-record" aria-selected="true">
                        <h5 class="text-dark">维护记录</h5>
                    </a>
                </li>
                <li class="nav-usageRecord">
                    <a class="nav-link" id="usage-record-tab" data-toggle="pill" href="#usage-record" role="tab" aria-controls="usage-record" aria-selected="false">
                        <h5 class="text-dark">使用记录</h5>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-tools">
            <form id="search" class="form-inline float-left" method="post" asp-page-handler="Search">
                <label class="my-1 mr-2 ml-2" for="instrument" asp-for="@Model.Search.Instrument"></label>
                <select class="custom-select select2 my-1" id="instrumentId" asp-for="@Model.Search.Instrument">
                    @if (Model.Search.InstrumentSelectList.Count == 0)
                    {
                        <option value="">无仪器编号</option>
                    }
                    else
                    {
                        @foreach (var id in Model.Search.InstrumentSelectList)
                        {
                            <option value="@id">@id</option>
                        }
                    }
                </select>

                <label class="my-1 ml-2 mr-2" for="date">月份</label>
                <input class="form-control my-1 mr-2" id="date" type="month" asp-for="Search.Date" style="width:165px;" />

                <button class="btn btn-outline-primary my-1 mr-2" asp-page-handler="Search">查询</button>

            </form>
        </div>
    </div>

    <div class="card-body pt-0">
        <div class="tab-content">
            @if (Model.Search.InstrumentSelectList.Count == 0)
            {
                <p>当前用户所在项目组无可用仪器，请先在设备档案中设置检测项目</p>
            }
            else
            {
                @*维护记录*@
                int columnNumber = 31; // 固定显示31天
                int totalColSpan = 33;
                string InstrumentPlatform = Model.Platform;
                <div class="tab-pane fade table-responsive active show" id="maintenance-record" role="tabpanel" aria-labelledby="maintenance-record-tab">
                    <table id="maintenance-record">
                        <thead>
                            <tr class="title">
                                <th colspan="@totalColSpan">
                                    <h5>
                                        @(InstrumentPlatform == "LCMS" ? "液相色谱串联质谱联用仪维护记录表" :
                                            InstrumentPlatform == "GCMS" ? "气质联用仪维护记录表" :
                                            InstrumentPlatform == "UPLC" ? "超高效液相色谱仪维护记录表" : "_______________维护记录表")
                                    </h5>
                                    <h5>
                                        @(InstrumentPlatform == "LCMS" ? "LC-MS/MS Maintenance Form" :
                                            InstrumentPlatform == "GCMS" ? "GC-MS Maintenance Form" :
                                            InstrumentPlatform == "UPLC" ? "UHPLC Maintenance Form" : "_______________Maintenance Form")
                                    </h5>
                                </th>
                            </tr>
                            <tr class="small-title">
                                <td colspan="12" style="text-align:left;"> @Model.Search.Date.ToString(@"yyyy 年 \Year MM 月 \M\on\t\h")</td>
                                <td colspan="10" style="text-align:left;">仪器编号 No.：@(Model.Search.Instrument)</td>
                                <td colspan="11" style="text-align:right;">
                                    @(InstrumentPlatform == "LCMS" ? "表号 Form：KM-SOP0314.202.02" :
                                        InstrumentPlatform == "GCMS" ? "表号 Form：KM-SOP0314.201.02" :
                                        InstrumentPlatform == "UPLC" ? "表号 Form：KM-SOP0314.204.02" : "表号 Form：KM-SOP0314. _____ .02")
                                </td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="tfoot">
                                <td colspan="@totalColSpan" style="text-align:left;padding-left:10px;">
                                    备注 remark：Y，该工作日已完成该项维护； N，经评估该工作日无需进行该项维护。
                                </td>
                            </tr>
                            <tr class="tfoot">
                                <td colspan="@totalColSpan">使用回顾</td>
                            </tr>
                            <tr class="tfoot">
                                <td>评估意见<br />Comment</td>
                                <td colspan="@(totalColSpan - 19)"></td>
                                <td colspan="4">评估人/日期<br />Evaluator/Date</td>
                                <td colspan="5"></td>
                                <td colspan="4">审批人/日期<br />Approver/Date</td>
                                <td colspan="5"></td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr class="days">
                                <td></td>
                                <td>日期 Date</td>
                                @for (int i = 1; i <= columnNumber; i++)
                                {
                                    var id = @Model.RecordsIdOfMonth[i - 1];
                                    var daysInMonth = DateTime.DaysInMonth(Model.Search.Date.Year, Model.Search.Date.Month);
                                    // 计算某月份的总天数，如果小于31天，多出来的那几天不显示新建，编辑，删除选项
                                    if (i <= daysInMonth)
                                    {
                                        var selectedDate = new DateTime(Model.Search.Date.Year, Model.Search.Date.Month, i, 8, 30, 00);
                                        <td class="days">
                                            <span class="hide-in-screen">@i</span>

                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                @i
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                @if (Model.DailyMaintenanceOperator[i - 1] != "")
                                                {
                                                    <a class="dropdown-item" asp-page="MaintenanceRecords/Edit" asp-route-Id="@id">编辑</a>
                                                    <a class="dropdown-item delete-maintenance-record-btn" href="#" data-id="@id">删除</a>
                                                }
                                                else
                                                {
                                                    <a class="dropdown-item"
                                                       asp-page="MaintenanceRecords/Create"
                                                       asp-route-instrumentId="@Model.Search.Instrument"
                                                       asp-route-beginTime="@selectedDate.ToString("yyyy-MM-ddTHH:mm")">
                                                        新建
                                                    </a>
                                                }
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="days">
                                            <span>@i</span>
                                        </td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td class="left" rowspan="@(Model.DailyMaintenanceContent.Count+2)">
                                    日常维护<br />Daily
                                </td>
                            </tr>
                            @foreach (var content in Model.DailyMaintenanceContent)
                            {
                                <tr>
                                    <td class="maintenance-content">@content</td>
                                    @foreach (var yOrN in Model.DailyMaintenanceSituation[content])
                                    {
                                        <td>@yOrN</td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td class="operator text-bold">操作者</td>
                                @foreach (var op in Model.DailyMaintenanceOperator)
                                {
                                    <td><p class="operator text-vertical">@op</p></td>
                                }
                            </tr>
                            <tr>
                                <td class="left" rowspan="@(Model.WeeklyMaintenanceContent.Count+2)">
                                    周维护<br />Weekly
                                </td>
                            </tr>
                            @{
                                // 周维护有4个，每个维护内容占用的colspan
                                var colSpanOfWeekly = new int[] { 7, 8, 8, 8 };
                            }
                            @foreach (var content in Model.WeeklyMaintenanceContent)
                            {
                                <tr>
                                    <td class="maintenance-content">@content</td>
                                    @for (int i = 0; i < colSpanOfWeekly.Length; i++)
                                    {
                                        var yOrN = Model.WeekyMaintenanceSituation[content][i];
                                        <td colspan="@colSpanOfWeekly[i]">@yOrN</td>
                                    }
                                </tr>
                            }
                            <tr>
                                <td class="operator text-bold">操作者</td>
                                @for (int i = 0; i < colSpanOfWeekly.Length; i++)
                                {
                                    var op = Model.WeeklyMaintenanceOperator[i];
                                    <td colspan="@colSpanOfWeekly[i]">@op</td>
                                }
                            </tr>
                            @{
                                var otherRowSpan = 5;
                                var rowOfTemporary = 1;
                                if (InstrumentPlatform == "LCMS")
                                {
                                    otherRowSpan = 7;
                                    rowOfTemporary = 3;
                                }
                                else if (InstrumentPlatform == "GCMS")
                                {
                                    otherRowSpan = 10;
                                    rowOfTemporary = 6;
                                }
                                else if (InstrumentPlatform == "UPLC")
                                {
                                    otherRowSpan = 12;
                                    rowOfTemporary = 8;
                                }
                            }
                            <tr>
                                <td class="left" rowspan="@otherRowSpan">
                                    其他<br />Others
                                </td>
                            </tr>
                            @foreach (var tem in Model.TemporaryMaintenanceRecord)
                            {
                                <tr>
                                    <td class="maintenance-content">临时维护<br />操作者/日期</td>
                                    <td colspan="@columnNumber">
                                        @tem
                                    </td>
                                </tr>
                            }
                            @for (int i = 1; i <= rowOfTemporary - Model.TemporaryMaintenanceRecord.Count; i++)
                            {
                                // 补充行
                                <tr>
                                    <td class="maintenance-content">临时维护<br />操作者/日期</td>
                                    <td colspan="@columnNumber"></td>
                                </tr>
                            }
                            <tr>
                                <td class="maintenance-content">月度维护<br />操作者/日期</td>
                                <td colspan="@columnNumber">@Model.MonthlyMaintenanceRecord</td>
                            </tr>
                            <tr>
                                <td class="maintenance-content">季度维护<br />操作者/日期</td>
                                <td colspan="@columnNumber">@Model.QuarterlyMaintenanceRecord</td>
                            </tr>
                            <tr>
                                <td class="maintenance-content">年度维护<br />操作者/日期</td>
                                <td colspan="@columnNumber">@Model.YearlyMaintenanceRecord</td>
                            </tr>
                        </tbody>
                    </table>
                    <audit-trail-grouping-by-pk Logs="Model.MaintenanceAuditTrailLogs" modal-id="maintenanceAuditTrailLog"></audit-trail-grouping-by-pk>
                    <button type="button" class="btn btn-outline-primary my-1" onclick="createReport()">导出</button>
                </div>

                @*使用记录*@
                string emptyValue = "N/A";
                <div class="tab-pane fade table-responsive" id="usage-record" role="tabpanel" aria-labelledby="usage-record-tab">
                    <table id="usage-record">
                        <colgroup>
                            <col class="time">
                            <col class="time">
                            <col class="projectname">
                            <col class="columnnumber">
                            <col class="mobilephase">
                            <col class="samplenumber">
                            <col class="batchnumber">
                            <col class="column">
                            <col class="ionsource">
                            <col class="detector">
                            <col class="vacuumdegree">
                            <col class="blank">
                            <col class="test">
                            <col class="operator">
                            <col class="remark">
                            <col class="button">
                        </colgroup>
                        <thead class="text-nowrap">
                            <tr class="title">
                                <th colspan="13">
                                    <h5>色谱质谱联用设备使用通用记录表</h5>
                                    <h5>UHPLC, LC-MS/MS, GC-MS Use Form</h5>
                                </th>
                            </tr>
                            <tr class="small-title">
                                <td colspan="6" class="text-left">仪器编号：@(Model.Search?.Instrument)&nbsp; 仪器型号：@(Model.InstrumentModel)</td>
                                <td colspan="6" class="text-right">KM-SOP0314.202.01</td>
                            </tr>
                            <tr class="head">
                                <td class="time">
                                    开始时间<br />
                                    Start up time
                                </td>
                                <td class="time">
                                    结束时间<br />
                                    Shut down time
                                </td>
                                <td class="projectname">
                                    检测项目<br />
                                    Test Item
                                </td>
                                <td class="columnnumber">
                                    色谱柱编号<br />
                                    Column number
                                </td>
                                <td class="mobilephase" style="text-align:left;padding-left:10px;">
                                    <i class="far fa-@(Model.MobilePhaseOrCarrierGas == "mobilephase" ? "check-" : "")square" aria-hidden="true"></i>
                                    流动相<br />
                                    Liquid phase<br />
                                    <i class="far fa-@(Model.MobilePhaseOrCarrierGas == "gas" ? "check-" : "")square" aria-hidden="true"></i>
                                    载气<br />
                                    Carrier Gas
                                </td>
                                <td class="samplenumber">临床样数量</td>
                                <td class="batchnumber">Batch样品量</td>
                                <td class="column" style="text-align:left;padding-left:10px;">
                                    压力<br />
                                    <i class="far fa-@(Model.ColumnPressureUnit == "Psi" ? "check-" : "")square" aria-hidden="true"></i> Psi<br />
                                    <i class="far fa-@(Model.ColumnPressureUnit == "Bar" ? "check-" : "")square" aria-hidden="true"></i> Bar<br />
                                    <i class="far fa-@(Model.ColumnPressureUnit == "Mpa" ? "check-" : "")square" aria-hidden="true"></i> Mpa
                                </td>
                                <td class="ionsource">
                                    离子源<br />
                                    Ion Source
                                </td>
                                <td class="detector">
                                    检测器<br />
                                    Detector
                                </td>
                                <td class="vacuumdegree" style="text-align:left;padding-left:10px;">
                                    真空度<br />
                                    <i class="far fa-@(Model.VacuumDegreeUnit.Contains("torr") ? "check-" : "")square" aria-hidden="true"></i> torr<br />
                                    <i class="far fa-@(Model.VacuumDegreeUnit.Contains("Pa") ? "check-" : "")square" aria-hidden="true"></i> Pa
                                </td>
                                <td class="blank">
                                    空白<br />
                                    Blank
                                </td>
                                <td class="test">
                                    信号<br />
                                    signal
                                </td>
                                <td>
                                    操作者<br />
                                    Operator
                                </td>
                                <td class="remark">
                                    备注<br />
                                    Remark
                                </td>
                                <td class="button">&nbsp;</td>
                            </tr>
                            <tr class="view-head">
                                <td class="time">
                                    开始时间
                                </td>
                                <td class="time">
                                    结束时间
                                </td>
                                <td class="projectname">
                                    检测项目
                                </td>
                                <td class="columnnumber">
                                    色谱柱编号
                                </td>
                                <td class="mobilephase">
                                    流动相/载气
                                </td>
                                <td class="samplenumber">
                                    临床样数量
                                </td>
                                <td class="batchnumber">
                                    Batch样品量
                                </td>
                                <td class="column">
                                    色谱柱编号/压力（@Model.ColumnPressureUnit）
                                </td>
                                <td class="ionsource">
                                    离子源
                                </td>
                                <td class="detector">
                                    检测器
                                </td>
                                <td class="vacuumdegree">
                                    真空度（@Model.VacuumDegreeUnit）
                                </td>
                                <td class="blank">
                                    Blank信号
                                </td>
                                <td class="test">
                                    Test信号
                                </td>
                                <td>
                                    操作者
                                </td>
                                <td class="remark">
                                    备注
                                </td>
                                <td class="button">&nbsp;</td>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="total">
                                <td colspan="12" style="text-align:left;padding-left:10px;">
                                    总计：
                                    使用时长：@Model.TotalHours.ToString("F1") 小时，
                                    临床样数量：@Model.TotalSampleNumber 个，
                                    Batch样品量：@Model.TotalBatchNumber 个（其中S1 Batch样品量：@Model.TotalS1BatchNumber 个，S2 Batch样品量：@Model.TotalS2BatchNumber 个）。
                                </td>
                            </tr>
                            <tr class="tfoot">
                                <td colspan="13" style="text-align:left;padding-left:10px;">
                                    说明：
                                    <ol>
                                        <li>
                                            流动相/载气：@string.Join(" ", Model.MobilePhaseList).Replace('[', ' ').Replace(']', ' ').Replace(',', '.')
                                        </li>
                                        <li>
                                            色谱柱编号：@string.Join(" ", Model.ColumnTypeList).Replace('[', ' ').Replace(']', ' ').Replace(',', '.')
                                        </li>
                                        <li>
                                            离子源：@string.Join(" ", Model.IonSourceList).Replace('[', ' ').Replace(']', ' ').Replace(',', '.')
                                        </li>
                                        <li>
                                            检测器：@string.Join(" ", Model.DetectorList).Replace('[', ' ').Replace(']', ' ').Replace(',', '.')
                                        </li>
                                    </ol>
                                </td>
                            </tr>
                            <tr class="tfoot">
                                <td colspan="13" class="text-center border border-dark">
                                    使用回顾
                                </td>
                            </tr>
                            <tr class="tfoot">
                                <td colspan="2">
                                    评估意见：<br />
                                    (Evaluator comments)
                                </td>
                                <td colspan="3"></td>
                                <td colspan="2">
                                    评估人/日期<br />
                                    (Evaluator/Date)
                                </td>
                                <td colspan="2"></td>
                                <td colspan="2">
                                    审批人/日期<br />
                                    (Approver/Date)
                                </td>
                                <td colspan="2"></td>
                            </tr>
                        </tfoot>
                        <tbody>
                            @{
                                string GetKeyByValue(Dictionary<char, string> dic, string value)
                                {
                                    // 字典里是所有记录的值,没有数据表示不适用,返回N/A
                                    if (dic.Count == 0) return emptyValue;
                                    string key = string.Empty;
                                    if (string.IsNullOrEmpty(value)) return key;

                                    foreach (KeyValuePair<char, string> kvp in dic)
                                    {
                                        if (value.Contains(kvp.Value))
                                        {
                                            key += " | " + kvp.Key;
                                        }
                                    }
                                    return key.Substring(2);
                                }
                            }
                            @foreach (var usageRecord in Model.UsageRecords)
                            {
                                @* view row *@
                                <tr class="view-row">
                                    <td class="time">@Html.DisplayFor(item => usageRecord.BeginTime)</td>
                                    <td class="time">@Html.DisplayFor(item => usageRecord.EndTime)</td>
                                    <td class="projectname">@Html.DisplayFor(item => usageRecord.ProjectName)</td>
                                    <td class="columnnumber">
                                        @if (!string.IsNullOrEmpty(usageRecord.ColumnType))
                                        {
                                            @GetKeyByValue(Model.ColumnTypeList, usageRecord.ColumnType)
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }
                                        @*@if (usageRecord.SystemOneColumnNumber != null && usageRecord.SystemTwoColumnNumber != null)
                                        {
                                            <text>S1：</text>
                                            @GetKeyByValue(Model.ColumnNumberList, usageRecord.SystemOneColumnNumber)
                                            <br />
                                            <text>S2：</text>
                                            @GetKeyByValue(Model.ColumnNumberList, usageRecord.SystemTwoColumnNumber)
                                        }
                                        else if (usageRecord.SystemOneColumnNumber != null)
                                        {
                                            @GetKeyByValue(Model.ColumnNumberList, usageRecord.SystemOneColumnNumber)
                                        }
                                        else if (usageRecord.SystemTwoColumnNumber != null)
                                        {
                                            @GetKeyByValue(Model.ColumnNumberList, usageRecord.SystemTwoColumnNumber)
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }*@
                                    </td>
                                    <td class="mobilephase">@GetKeyByValue(Model.MobilePhaseList, usageRecord.MobilePhase)</td>
                                    <td class="samplenumber">
                                        @if (usageRecord.SampleNumber != null)
                                        {
                                            @Html.DisplayFor(item => usageRecord.SampleNumber)
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }
                                    </td>
                                    <td class="batchnumber">
                                        @if (usageRecord.SystemOneBatchNumber != null && usageRecord.SystemTwoBatchNumber != null)
                                        {
                                            <text>S1：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemOneBatchNumber)
                                            <br />
                                            <text>S2：</text>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoBatchNumber)
                                        }
                                        else if (usageRecord.SystemOneBatchNumber != null)
                                        {
                                            @Html.DisplayFor(item => usageRecord.SystemOneBatchNumber)
                                        }
                                        else if (usageRecord.SystemTwoBatchNumber != null)
                                        {
                                            @Html.DisplayFor(item => usageRecord.SystemTwoBatchNumber)
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }
                                    </td>
                                    <td class="column">
                                        @if (usageRecord.SystemOneColumnPressure != null && usageRecord.SystemTwoColumnPressure != null)
                                        {
                                            <text>S1：</text>
                                            <span class="hide-in-print">@Html.DisplayFor(item => usageRecord.SystemOneColumnNumber) / </span>
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnPressure)
                                            <br />
                                            <text>S2：</text>
                                            <span class="hide-in-print">@Html.DisplayFor(item => usageRecord.SystemTwoColumnNumber) / </span>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnPressure)
                                        }
                                        else if (usageRecord.SystemOneColumnPressure != null)
                                        {
                                            <span class="hide-in-print">@Html.DisplayFor(item => usageRecord.SystemOneColumnNumber) / </span>
                                            @Html.DisplayFor(item => usageRecord.SystemOneColumnPressure)
                                        }
                                        else if (usageRecord.SystemTwoColumnPressure != null)
                                        {
                                            <span class="hide-in-print">@Html.DisplayFor(item => usageRecord.SystemTwoColumnNumber) / </span>
                                            @Html.DisplayFor(item => usageRecord.SystemTwoColumnPressure)
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }
                                    </td>
                                    <td class="ionsource">@GetKeyByValue(Model.IonSourceList, usageRecord.IonSource)</td>
                                    <td class="detector">@GetKeyByValue(Model.DetectorList, usageRecord.Detector)</td>
                                    <td class="vacuumdegree">
                                        @if (usageRecord.LowVacuumDegree != null && usageRecord.HighVacuumDegree != null)
                                        {
                                            <text>低真空：</text>
                                            @(usageRecord.LowVacuumDegree.GetValueOrDefault().ToString("F1")) @(usageRecord.LowVacuumDegreeUnit.Split(" ")[0])
                                            <br />
                                            <text>高真空：</text>
                                            @(usageRecord.HighVacuumDegree.GetValueOrDefault().ToString("F1")) @(usageRecord.HighVacuumDegreeUnit.Split(" ")[0])
                                        }
                                        else if (usageRecord.LowVacuumDegree != null)
                                        {
                                            @(usageRecord.LowVacuumDegree.GetValueOrDefault().ToString("F1")) @(usageRecord.LowVacuumDegreeUnit.Split(" ")[0])
                                        }
                                        else if (usageRecord.HighVacuumDegree != null)
                                        {
                                            @(usageRecord.HighVacuumDegree.GetValueOrDefault().ToString("F1")) @(usageRecord.HighVacuumDegreeUnit.Split(" ")[0])
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }
                                    </td>
                                    <td class="blank">
                                        @if (usageRecord.BlankSignal != null)
                                        {
                                            @usageRecord.BlankSignal.GetValueOrDefault().ToString("0.0e+0")
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }
                                    </td>
                                    <td class="test">
                                        @if (usageRecord.SystemOneTestSignal != null && usageRecord.SystemTwoTestSignal != null)
                                        {
                                            <text>S1：</text>
                                            @(usageRecord.SystemOneTestSignal.GetValueOrDefault().ToString("0.0e+0"))
                                            <br />
                                            <text>S2：</text>
                                            @(usageRecord.SystemTwoTestSignal.GetValueOrDefault().ToString("0.0e+0"))
                                        }
                                        else if (usageRecord.SystemOneTestSignal != null)
                                        {
                                            @(usageRecord.SystemOneTestSignal.GetValueOrDefault().ToString("0.0e+0"))
                                        }
                                        else if (usageRecord.SystemTwoTestSignal != null)
                                        {
                                            @(usageRecord.SystemTwoTestSignal.GetValueOrDefault().ToString("0.0e+0"))
                                        }
                                        else
                                        {
                                            <span>@emptyValue</span>
                                        }
                                    </td>
                                    <td>@Html.DisplayFor(item => usageRecord.Operator)</td>
                                    <td class="remark">
                                        @if (!string.IsNullOrEmpty(usageRecord.Remark))
                                        {
                                            @Html.DisplayFor(item => usageRecord.Remark)
                                        }
                                        else
                                        {
                                            <span>/</span>
                                        }
                                    </td>
                                    <td class="button">
                                        <div class="button">
                                            <button class="edit-btn btn btn-sm btn-outline-primary" data-id="@usageRecord.Id">编辑</button>
                                            <button class="delete-usage-record-btn btn btn-sm btn-outline-danger" data-id="@usageRecord.Id">删除</button>
                                        </div>
                                    </td>
                                </tr>
                                @* update-row *@
                                <tr class="update-row">
                                    <td class="time">
                                        <input form="edit-form" name="id" type="hidden" asp-for="@usageRecord.Id" disabled />
                                        <input form="edit-form" type="hidden" asp-for="@usageRecord.InstrumentId" disabled />
                                        <input form="edit-form" asp-for="@usageRecord.BeginTime" required disabled />
                                    </td>
                                    <td class="time">
                                        <input form="edit-form" asp-for="@usageRecord.EndTime" disabled />
                                    </td>
                                    <td class="projectname">
                                        <select form="edit-form" class="select-project" asp-for="@usageRecord.ProjectName" asp-items="@Model.ProjectsSelectList" disabled></select>
                                    </td>
                                    <td class="columnnumber">色谱柱编号</td>
                                    <td class="mobilephase">流动相</td>
                                    <td class="samplenumber">
                                        <input form="edit-form" min="0" step="1" asp-for="@usageRecord.SampleNumber" disabled />
                                    </td>
                                    <td class="batchnumber">
                                        <input form="edit-form" min="0" step="1" asp-for="@usageRecord.SystemOneBatchNumber" placeholder="S1" disabled />
                                        <br />
                                        <input form="edit-form" min="0" step="1" asp-for="@usageRecord.SystemTwoBatchNumber" placeholder="S2" disabled />
                                    </td>
                                    <td class="column">
                                        <input form="edit-form" asp-for="@usageRecord.SystemOneColumnNumber" placeholder="S1编号" disabled />
                                        <input form="edit-form" type="number" min="0" step="any" asp-for="@usageRecord.SystemOneColumnPressure" placeholder="S1压力" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.SystemOneColumnPressureUnit" disabled>
                                            <option value="Mpa">Mpa</option>
                                            @*<option value="Kpa">Kpa</option>*@
                                            <option value="Bar">Bar</option>
                                            <option value="Psi">Psi</option>
                                        </select>
                                        <br />
                                        <input form="edit-form" asp-for="@usageRecord.SystemTwoColumnNumber" placeholder="S2编号" disabled />
                                        <input form="edit-form" type="number" min="0" step="any" asp-for="@usageRecord.SystemTwoColumnPressure" placeholder="S2压力" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.SystemTwoColumnPressureUnit" disabled>
                                            <option value="Mpa">Mpa</option>
                                            @*<option value="Kpa">Kpa</option>*@
                                            <option value="Bar">Bar</option>
                                            <option value="Psi">Psi</option>
                                        </select>
                                    </td>
                                    <td class="ionsource">离子源</td>
                                    <td class="detector">检测器</td>
                                    <td class="vacuumdegree">
                                        <input form="edit-form" type="number" step="any" asp-for="@usageRecord.LowVacuumDegree" placeholder="低真空" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.LowVacuumDegreeUnit" disabled>
                                            <option value="e-5 torr">e-5 torr</option>
                                            <option value="e-6 torr">e-6 torr</option>
                                            <option value="e+2 Pa">e+2 Pa</option>
                                            <option value="e+1 Pa">e+1 Pa</option>
                                            <option value="e-3 Pa">e-3 Pa</option>
                                            <option value="e-4 Pa">e-4 Pa</option>
                                        </select>
                                        <br />
                                        <input form="edit-form" type="number" step="any" asp-for="@usageRecord.HighVacuumDegree" placeholder="高真空" disabled />
                                        <select form="edit-form" asp-for="@usageRecord.HighVacuumDegreeUnit" disabled>
                                            <option value="e-5 torr">e-5 torr</option>
                                            <option value="e-6 torr">e-6 torr</option>
                                            <option value="e+2 Pa">e+2 Pa</option>
                                            <option value="e+1 Pa">e+1 Pa</option>
                                            <option value="e-3 Pa">e-3 Pa</option>
                                            <option value="e-4 Pa">e-4 Pa</option>
                                        </select>
                                    </td>
                                    <td class="blank">
                                        <input form="edit-form" asp-for="@usageRecord.BlankSignal"
                                               pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                               title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。"
                                               disabled />
                                    </td>
                                    <td class="test">
                                        <input form="edit-form" asp-for="@usageRecord.SystemOneTestSignal"
                                               placeholder="S1"
                                               pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                               title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。"
                                               disabled />
                                        <br />
                                        <input form="edit-form" asp-for="@usageRecord.SystemTwoTestSignal"
                                               placeholder="S2"
                                               pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                               title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。"
                                               disabled />
                                    </td>
                                    <td>
                                        <input form="edit-form" asp-for="@usageRecord.Operator" disabled required />
                                    </td>
                                    <td class="remark">
                                        <textarea form="edit-form" asp-for="@usageRecord.Remark" placeholder="限20字以内" disabled></textarea>
                                    </td>
                                    <td class="button">
                                        <div class="button">
                                            <button class="update-btn btn btn-sm btn-success" form="edit-form" disabled>保存</button>
                                            <button type="button" class="cancel-btn btn btn-sm btn-secondary" disabled>取消</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                            @* create-row *@
                            <tr id="create-row">
                                <td class="time">
                                    <input form="create-form" asp-for="UsageRecord.InstrumentId" type="hidden" />
                                    <input form="create-form" asp-for="UsageRecord.BeginTime" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" required />
                                </td>
                                <td class="time">
                                    <input form="create-form" asp-for="UsageRecord.EndTime" />
                                </td>
                                <td class="projectname">
                                    <select form="create-form" class="select-project" asp-for="UsageRecord.ProjectName" asp-items="@Model.ProjectsSelectList">
                                    </select>
                                </td>
                                <td class="columnnumber">色谱柱编号</td>
                                <td class="mobilephase">流动相</td>
                                <td class="samplenumber">
                                    <input form="create-form" min="0" step="1" asp-for="UsageRecord.SampleNumber" />
                                </td>
                                <td class="batchnumber">
                                    <input form="create-form" min="0" step="1" asp-for="UsageRecord.SystemOneBatchNumber" placeholder="S1" />
                                    <br />
                                    <input form="create-form" min="0" step="1" asp-for="UsageRecord.SystemTwoBatchNumber" placeholder="S2" />
                                </td>
                                <td class="column">
                                    <input form="create-form" asp-for="UsageRecord.SystemOneColumnNumber" placeholder="S1编号" />
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.SystemOneColumnPressure" placeholder="S1压力" />
                                    <select form="create-form" asp-for="UsageRecord.SystemOneColumnPressureUnit">
                                        <option value="Mpa">Mpa</option>
                                        @*<option value="Kpa">Kpa</option>*@
                                        <option value="Bar">Bar</option>
                                        <option value="Psi">Psi</option>
                                    </select>
                                    <br />
                                    <input form="create-form" asp-for="UsageRecord.SystemTwoColumnNumber" placeholder="S2编号" />
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.SystemTwoColumnPressure" placeholder="S2压力" />
                                    <select form="create-form" asp-for="UsageRecord.SystemTwoColumnPressureUnit">
                                        <option value="Mpa">Mpa</option>
                                        @*<option value="Kpa">Kpa</option>*@
                                        <option value="Bar">Bar</option>
                                        <option value="Psi">Psi</option>
                                    </select>
                                </td>
                                <td class="ionsource">离子源</td>
                                <td class="detector">检测器</td>
                                <td class="vacuumdegree">
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.LowVacuumDegree" placeholder="低真空" />
                                    <select form="create-form" asp-for="UsageRecord.LowVacuumDegreeUnit">
                                        <option value="e-5 torr">e-5 torr</option>
                                        <option value="e-6 torr">e-6 torr</option>
                                        <option value="e+2 Pa">e+2 Pa</option>
                                        <option value="e+1 Pa">e+1 Pa</option>
                                        <option value="e-3 Pa">e-3 Pa</option>
                                        <option value="e-4 Pa">e-4 Pa</option>
                                    </select>
                                    <br />
                                    <input form="create-form" type="number" min="0" step="any" asp-for="UsageRecord.HighVacuumDegree" placeholder="高真空" />
                                    <select form="create-form" asp-for="UsageRecord.HighVacuumDegreeUnit">
                                        <option value="e-5 torr">e-5 torr</option>
                                        <option value="e-6 torr">e-6 torr</option>
                                        <option value="e+2 Pa">e+2 Pa</option>
                                        <option value="e+1 Pa">e+1 Pa</option>
                                        <option value="e-3 Pa">e-3 Pa</option>
                                        <option value="e-4 Pa">e-4 Pa</option>
                                    </select>
                                </td>
                                <td class="blank">
                                    <input form="create-form" asp-for="UsageRecord.BlankSignal"
                                           pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                           title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。" />
                                </td>
                                <td class="test">
                                    <input form="create-form" asp-for="UsageRecord.SystemOneTestSignal"
                                           placeholder="S1"
                                           pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                           title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。" />
                                    <br />
                                    <input form="create-form" asp-for="UsageRecord.SystemTwoTestSignal"
                                           placeholder="S2"
                                           pattern="^[+-]?[\d]+([\.][\d]+)?([Ee][+-]?[\d]+)?$"
                                           title="请使用科学计数法，例：3.1e+05，如果是N/A的话不需要输入。" />
                                </td>
                                <td>
                                    <input form="create-form" asp-for="UsageRecord.Operator" required />
                                </td>
                                <td class="remark">
                                    <textarea form="create-form" asp-for="UsageRecord.Remark" placeholder="限20字以内"></textarea>
                                </td>
                                <td class="button">
                                    <button form="create-form" id="create-btn" class="btn btn-block btn-primary">新建</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="remark">
                        <h6>说明：</h6>
                        <ol>
                            <li>单系统仪器填写S1对应的输入框；</li>
                            <li>真空度单位，色谱柱编号、单位自动预设为上一次填写的值；</li>
                            <li>新建记录时请确认当前色谱柱编号是否正确；</li>
                            <li>Blank和Test信号请使用科学计数法填写，如果没有的话，不需要输入任何值。</li>
                        </ol>
                    </div>
                    <audit-trail-grouping-by-pk Logs="Model.UsageAuditTrailLogs" modal-id="usageAuditTrailLog"></audit-trail-grouping-by-pk>
                    <button type="button" class="btn btn-outline-primary my-1" onclick="createReport()">导出</button>
                </div>
            }
        </div>
    </div>
</div>

<form id="create-form" method="post" asp-page="UsageRecords/Create" hidden></form>
<form id="edit-form" method="post" asp-page="UsageRecords/Edit" hidden></form>
<form id="delete-form" method="post" asp-page="UsageRecords/Delete" hidden></form>

<link rel="stylesheet" href="~/css/Record.css" asp-append-version="true">
@section Scripts {
    <script src="~/js/Records.js" asp-append-version="true"></script>
    <script src="~/js/MaintenanceRecord.js" asp-append-version="true"></script>
    <script>
        function createReport() {
            var activeTab = $(`a[href="${localStorage.getItem('activeTab')}"]`).children().text();
            document.title = `@(Model.Search.Instrument)_@(Model.Search.Date.ToString("yyyyMM"))_${activeTab}表` ;
            window.print();
            document.title = "设备管理平台";
        }
    </script>
}
