@page
@model EquipmentManagementSystem.Pages.Malfunctions.WorkOrders.IndexModel

@{
    ViewData["Title"] = "故障跟进";
}

<div class="card">
    <h4 class="card-header">
        工单一览
        <a asp-page="Create">
            <input type="button" class="btn btn-outline-primary btn-sm" value="新建工单" style="margin-left: 10px;" />
        </a>
    </h4>

    <div class="card-body">
        <table id="index" class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].InstrumentID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].MalfunctionInfo.Part)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].MalfunctionInfo.Phenomenon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].MalfunctionInfo.BeginTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].Creator)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MalfunctionWorkOrder[0].Progress)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MalfunctionWorkOrder)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InstrumentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MalfunctionInfo.Part)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MalfunctionInfo.Phenomenon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MalfunctionInfo.BeginTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Creator)
                        </td>
                        <td>
                            <span class="badge badge-primary text-md">@Html.DisplayFor(modelItem => item.Progress)</span>
                        </td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@item.ID"><i class="fa fa-eye fa-lg" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {}
