@page
@model EquipmentManagementSystem.Pages.Malfunctions.RepairRequests.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepairRequest[0].RequestTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairRequest[0].BookingsTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairRequest[0].Fixer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairRequest[0].Engineer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairRequest[0].IsConfirm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RepairRequest) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingsTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fixer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Engineer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirm)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
