@page
@model EquipmentManagementSystem.Pages.Management.MaintenanceContents.IndexModel

@{
    ViewData["Title"] = "后台管理";
}

<div class="card col-md-4">
    <h4 class="card-header">
        维护内容
        <a asp-page="Create">
            <input type="button" class="btn btn-outline-primary btn-sm" value="新建" style="margin-left: 10px;" />
        </a>
    </h4>
    <div class="card-body table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContent[0].MaintenanceTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MaintenanceContent[0].Text)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MaintenanceContent)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaintenanceType.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Text)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">编辑</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
