@page
@model EquipmentManagementSystem.Pages.MalfunctionInfos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MalfunctionInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.BeginTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.BeginTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.FoundedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.FoundedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Part)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Part)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Phenomenon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Phenomenon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Attachment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Attachment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.IsConfirm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.IsConfirm)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="MalfunctionInfo.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
