@page
@model EquipmentManagementSystem.Pages.MalfunctionInfos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MalfunctionInfo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.BeginTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.BeginTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.FoundedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.FoundedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Part)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Part)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Phenomenon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Phenomenon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Reason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Reason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Remark)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Remark)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.Attachment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.Attachment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MalfunctionInfo.IsConfirm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MalfunctionInfo.IsConfirm)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MalfunctionInfo.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
