@page
@model EquipmentManagementSystem.Pages.MalfunctionInfos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].BeginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].FoundedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].Phenomenon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].Remark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].Attachment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MalfunctionInfo[0].IsConfirm)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MalfunctionInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeginTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Part)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phenomenon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attachment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsConfirm)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
