@page
@model EquipmentManagementSystem.Pages.Malfunctions.Investigate.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Investigation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Investigation.BeginTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Investigation.BeginTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Investigation.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Investigation.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Investigation.Operator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Investigation.Operator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Investigation.Measures)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Investigation.Measures)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Investigation.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
