@page
@model EquipmentManagementSystem.Pages.ReportSystem.ReportingModel
@{
    ViewData["Title"] = "报表系统";
}

<div class="card">
    <div class="card-header">
        <h4>报表导出</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-xl-auto col-sm-6 my-0">
                            <label asp-for="Search.BeginTime" class="control-label"></label>
                            <span asp-validation-for="Search.BeginTime" class="text-danger"></span>
                            <input asp-for="Search.BeginTime" class="form-control" />
                        </div>
                        <div class="col-xl-auto col-sm-6 my-0">
                            <label asp-for="Search.EndTime" class="control-label"></label>
                            <span asp-validation-for="Search.EndTime" class="text-danger"></span>
                            <input asp-for="Search.EndTime" class="form-control" />
                        </div>
                        <div class="col-xl-auto col-sm-6 my-0">
                            <label asp-for="Search.Group" class="control-label"></label>
                            <span asp-validation-for="Search.Group" class="text-danger"></span>
                            <select id="group" asp-for="Search.Group" asp-items="@Model.GroupSelectList" class="custom-select">
                                <option value="">---请选择---</option>
                            </select>
                        </div>
                        <div class="col-xl-auto col-sm-6 my-0">
                            <label asp-for="Search.Project" class="control-label"></label>
                            <span asp-validation-for="Search.Project" class="text-danger"></span>
                            <select id="project" asp-for="Search.Project" asp-items="@Model.ProjectSelectList" class="custom-select">
                                <option value="">---请选择---</option>
                            </select>
                        </div>
                        <div class="col-xl-auto col-sm-6 my-0">
                            <label asp-for="Search.Instrument" class="control-label"></label>
                            <span asp-validation-for="Search.Instrument" class="text-danger"></span>
                            <select id="instrument" asp-for="Search.Instrument" asp-items="@Model.InstrumentSelectList" class="custom-select">
                                <option value="">---请选择---</option>
                            </select>
                        </div>
                        <div class="col-xl-auto col-sm-6 my-0">
                            <label asp-for="Search.Category" class="control-label"></label>
                            <span asp-validation-for="Search.Category" class="text-danger"></span>
                            <select asp-for="Search.Category" class="custom-select" asp-items="@Html.GetEnumSelectList<EquipmentManagementSystem.Pages.ReportSystem.ReportingModel.Category>()">
                            </select>
                        </div>
                        <div class="col-xl-auto col-sm-6 pt-2">
                            <input type="submit" class="btn btn-primary mt-4 btn-block" value="查询" />
                        </div>

                    </div>
                </form>

                <br />
                <div class="table-responsive">


                    @if (Model.UsageRecords != null)
                    {
                    <table id="export" class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].InstrumentId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].ProjectName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].BeginTimeOfMaintain)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].BeginTimeOfTest)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].EndTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].SampleNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].TestNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UsageRecords[0].Creator)
                                </th>
                                <th>维护时长(h)</th>
                                <th>检测时长(h)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UsageRecords)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstrumentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProjectName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BeginTimeOfMaintain)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BeginTimeOfTest)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SampleNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TestNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Creator)
                                </td>
                                <td>@((item.BeginTimeOfTest - item.BeginTimeOfMaintain).GetValueOrDefault().TotalHours.ToString("f1"))</td>
                                <td class="time">@((item.EndTime - item.BeginTimeOfTest).GetValueOrDefault().TotalHours.ToString("f1"))</td>
                            </tr>
                                }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-bold">总时长(h)</td>
                                <td id="total" class="text-bold"></td>
                            </tr>
                        </tfoot>
                    </table>
                    }

                    @if (Model.MalfunctionWorkOrders != null)
                    {
                    <table id="export" class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].InstrumentID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].MalfunctionInfo.Part)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].MalfunctionInfo.Phenomenon)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].MalfunctionInfo.BeginTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].MalfunctionInfo.FoundedTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].RepairRequest.RequestTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].Maintenance.BeginTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MalfunctionWorkOrders[0].Validation.FinishedTime)
                                </th>
                                <th>维修耗时(h)</th>
                                <th>故障时长(h)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MalfunctionWorkOrders)
                                {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.InstrumentID)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MalfunctionInfo.Part)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MalfunctionInfo.Phenomenon)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MalfunctionInfo.BeginTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MalfunctionInfo.FoundedTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RepairRequest.RequestTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Maintenance.BeginTime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Validation.FinishedTime)
                                </td>
                                <td>@((item.Maintenance.EndTime - item.Maintenance.BeginTime).GetValueOrDefault().TotalHours.ToString("f1"))</td>
                                <td class="time">@((item.Validation.FinishedTime - item.MalfunctionInfo.BeginTime).GetValueOrDefault().TotalHours.ToString("f1"))</td>
                            </tr>
                                }
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="text-bold">总时长(h)</td>
                                <td id="total" class="text-bold"></td>
                            </tr>
                        </tfoot>
                    </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>

    <script>
        $(document).ready(function () {
            // 动态生成检测项目
            $("select#group").on("change", function () {
                var group = $(this).val();
                $("select#project").removeAttr("disabled");
                $("select#project").empty();
                $("select#project").append("<option value=''>---请选择---</option>");
                $.getJSON(`?handler=ProjectFilter&groupName=${group}`, (data) => {
                    $.each(data, function (i, item) {
                        if (item.length > 0) {
                            $("select#project").append(`<option value='${item}'>${item}</option>`);
                        }
                        else {
                            $("select#project").empty();
                            $("select#project").append("<option value=''>无可选设备项目</option>");
                        }
                    });
                });
            });

            // 动态生成设备编号
            $("select#project").on("change", function () {
                var project = $(this).val();
                $("select#instrument").removeAttr("disabled");
                $("select#instrument").empty();
                $("select#instrument").append("<option value=''>---请选择---</option>");
                $.getJSON(`?handler=InstrumentFilter&projectName=${project}`, (data) => {
                    $.each(data, function (i, item) {
                        if (item.length > 0) {
                            $("select#instrument").append(`<option value='${item}'>${item}</option>`);
                        }
                        else {
                            $("select#instrument").empty();
                            $("select#instrument").append("<option value=''>无可选设备</option>");
                        }
                    });
                });
            });

            var Export = $('#export').DataTable({
                dom: 'rtB',
                language: {
                    "emptyTable": "没有数据", //没有数据时要显示的字符串
                    "info": "当前 _START_ 条到 _END_ 条 共 _TOTAL_ 条",//左下角的信息，变量可以自定义，到官网详细查看
                    "infoEmpty": "无记录",//当没有数据时，左下角的信息
                    "infoFiltered": "(从 _MAX_ 条记录过滤)",//当表格过滤的时候，将此字符串附加到主要信息
                    "infoPostFix": "",//在摘要信息后继续追加的字符串
                    "thousands": ",",//千分位分隔符
                    "lengthMenu": "每页 _MENU_ 条记录",//用来描述分页长度选项的字符串
                    "loadingRecords": "加载中...",//用来描述数据在加载中等待的提示字符串 - 当异步读取数据的时候显示
                    "processing": "处理中...",//用来描述加载进度的字符串
                    "search": "搜索：",//用来描述搜索输入框的字符串
                    "zeroRecords": "没有找到",//当没有搜索到结果时，显示
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "尾页"
                    }
                },
                buttons: [{
                    extend: 'excel',
                    text: '导出',
                    footer: true,
                    filename: "使用登记_@(Model.Search?.BeginTime.ToShortDateString())_@(Model.Search?.EndTime.ToShortDateString())"
                }]
            });

            // 计算总时长
            var total = 0;
            $("td.time").each(function (data) {
                total += parseFloat($(this).text());
            });
            $("td#total").text(total);
        });
    </script>
}
